Repository linz/STAC: changes, and which pre-commit hooks are due for each by the changed paths.
All: stac-node-validator, prettier, eslint

stac-node-validator:
  name: stac-node-validator
  entry: ./validate.sh
  language: system
  stages:
  - commit

prettier:
  name: prettier
  entry: node_modules/.bin/prettier
  language: node
  stages:
  - commit

eslint:
  name: eslint
  entry: node_modules/.bin/eslint
  language: node
  stages:
  - commit

feat: historical imagery providers (TDE-146) (#141)
  extensions/historical-imagery/examples/collection.json
  extensions/historical-imagery/schema.json
  extensions/historical-imagery/tests/historical-imagery_collection.test.js
Due: stac-node-validator, eslint

v0.0.10
  CHANGELOG.md
  package.json
Due: prettier, eslint

deploy: a176b05c6c9639c602587290b8938ff9c1c28925
  v0.0.10/aerial-photo/README.md
  v0.0.10/aerial-photo/examples/item.json
  v0.0.10/aerial-photo/schema.json
  v0.0.10/aerial-photo/tests/aerial_photo_item.test.js
  v0.0.10/camera/README.md
  v0.0.10/camera/examples/item.json
  v0.0.10/camera/schema.json
  v0.0.10/camera/tests/camera.test.js
  v0.0.10/film/README.md
  v0.0.10/film/examples/item.json
  v0.0.10/film/schema.json
  v0.0.10/film/tests/film.test.js
  v0.0.10/historical-imagery/README.md
  v0.0.10/historical-imagery/examples/collection.json
  v0.0.10/historical-imagery/examples/item.json
  v0.0.10/historical-imagery/schema.json
  v0.0.10/historical-imagery/tests/historical-imagery_collection.test.js
  v0.0.10/historical-imagery/tests/historical-imagery_item.test.js
  v0.0.10/linz/CHANGELOG.md
  v0.0.10/linz/README.md
  v0.0.10/linz/examples/collection.json
  v0.0.10/linz/examples/item.json
  v0.0.10/linz/schema.json
  v0.0.10/linz/tests/linz_collection.test.js
  v0.0.10/linz/tests/linz_item.test.js
  v0.0.10/quality/CHANGELOG.md
  v0.0.10/quality/README.md
  v0.0.10/quality/examples/collection.json
  v0.0.10/quality/schema.json
  v0.0.10/quality/tests/quality_collection.test.js
  v0.0.10/scanning/README.md
  v0.0.10/scanning/examples/item.json
  v0.0.10/scanning/schema.json
  v0.0.10/template/CHANGELOG.md
  v0.0.10/template/README.md
  v0.0.10/template/examples/collection.json
  v0.0.10/template/examples/item.json
  v0.0.10/template/schema.json
  v0.0.10/template/tests/template_collection.test.js
  v0.0.10/template/tests/template_item.test.js
Due: prettier, eslint

fix: correct links for v0.0.10
  README.md
Due: prettier

refactor: Refer to extensions directory explicitly
  extensions/aerial-photo/README.md
  extensions/aerial-photo/examples/item.json
  extensions/aerial-photo/schema.json
  extensions/camera/README.md
  extensions/camera/examples/item.json
  extensions/camera/schema.json
  extensions/film/README.md
  extensions/film/examples/item.json
  extensions/film/schema.json
  extensions/historical-imagery/examples/collection.json
  extensions/historical-imagery/examples/item.json
  extensions/historical-imagery/schema.json
  extensions/linz/README.md
  extensions/linz/examples/collection.json
  extensions/linz/examples/item.json
  extensions/linz/schema.json
  extensions/quality/README.md
  extensions/quality/examples/collection.json
  extensions/quality/schema.json
  extensions/scanning/README.md
  extensions/scanning/examples/item.json
  extensions/scanning/schema.json
  extensions/template/README.md
  extensions/template/examples/collection.json
  extensions/template/examples/item.json
  extensions/template/schema.json
  validate.sh
  validation.js
Due: stac-node-validator, prettier, eslint

docs: clarify why/where proj:epsg is required
  extensions/historical-imagery/README.md
Due: prettier

docs: clarify why/where proj:epsg is required (#142)
  extensions/historical-imagery/README.md
Due: prettier

fix: move to stac.linz.govt.nz links and minor extension fixes
  extensions/aerial-photo/examples/item.json
  extensions/aerial-photo/schema.json
  extensions/camera/README.md
  extensions/camera/examples/item.json
  extensions/camera/schema.json
  extensions/film/examples/item.json
  extensions/film/schema.json
  extensions/historical-imagery/README.md
  extensions/historical-imagery/examples/collection.json
  extensions/historical-imagery/examples/item.json
  extensions/historical-imagery/schema.json
  extensions/linz/examples/collection.json
  extensions/linz/examples/item.json
  extensions/linz/schema.json
  extensions/quality/examples/collection.json
  extensions/quality/schema.json
  extensions/scanning/examples/item.json
  extensions/scanning/schema.json
  extensions/scanning/tests/scanning.test.js
  extensions/template/examples/collection.json
  extensions/template/examples/item.json
  extensions/template/schema.json
  validate.sh
  validation.js
Due: stac-node-validator, prettier, eslint

fix: h-i remove eo:bands in schema and test
  extensions/historical-imagery/schema.json
  extensions/historical-imagery/tests/historical-imagery_item.test.js
Due: eslint

test: add scanning extension tests
  extensions/scanning/tests/scanning.test.js
Due: none

fix: example datetimes to NZ time, remove milliseconds, add scanning date-time format
  extensions/aerial-photo/examples/item.json
  extensions/camera/examples/item.json
  extensions/film/examples/item.json
  extensions/historical-imagery/examples/collection.json
  extensions/historical-imagery/examples/item.json
  extensions/scanning/examples/item.json
  extensions/scanning/schema.json
Due: stac-node-validator, eslint

test(scanning): add tests (TDE-207) (#146)
  extensions/scanning/tests/scanning.test.js
Due: none

fix: example datetimes to NZ time, remove ms, add scan date-time format (TDE-207) (#147)
  extensions/aerial-photo/examples/item.json
  extensions/camera/examples/item.json
  extensions/film/examples/item.json
  extensions/historical-imagery/examples/collection.json
  extensions/historical-imagery/examples/item.json
  extensions/scanning/examples/item.json
  extensions/scanning/schema.json
Due: stac-node-validator, eslint

fix: README changes: remove veeder from camera, require eo:bands for h-i
  extensions/camera/README.md
  extensions/historical-imagery/README.md
Due: prettier

fix: README updates: remove camera 'vender' reference, h-i require eo:bands (#148)
  extensions/camera/README.md
  extensions/historical-imagery/README.md
Due: prettier

fix: update linz.github.io/stac references to stac.linz.govt.nz
  extensions/aerial-photo/examples/item.json
  extensions/aerial-photo/schema.json
  extensions/camera/examples/item.json
  extensions/camera/schema.json
  extensions/film/examples/item.json
  extensions/film/schema.json
  extensions/historical-imagery/examples/collection.json
  extensions/historical-imagery/examples/item.json
  extensions/historical-imagery/schema.json
  extensions/linz/examples/collection.json
  extensions/linz/examples/item.json
  extensions/linz/schema.json
  extensions/quality/examples/collection.json
  extensions/quality/schema.json
  extensions/scanning/examples/item.json
  extensions/scanning/schema.json
  extensions/template/examples/collection.json
  extensions/template/examples/item.json
  extensions/template/schema.json
  validate.sh
  validation.js
Due: stac-node-validator, eslint

feat: Enable Jupyter in Nix shell
  .gitignore
  shell.nix
Due: none

feat: Demonstrate asset datetime summary investigation
  extensions/linz/notebooks/asset-datetime-summary.ipynb
Due: none

fix: change linz.github.io/stac to stac.linz.govt.nz (#149)
  extensions/aerial-photo/examples/item.json
  extensions/aerial-photo/schema.json
  extensions/camera/examples/item.json
  extensions/camera/schema.json
  extensions/film/examples/item.json
  extensions/film/schema.json
  extensions/historical-imagery/examples/collection.json
  extensions/historical-imagery/examples/item.json
  extensions/historical-imagery/schema.json
  extensions/linz/examples/collection.json
  extensions/linz/examples/item.json
  extensions/linz/schema.json
  extensions/quality/examples/collection.json
  extensions/quality/schema.json
  extensions/scanning/examples/item.json
  extensions/scanning/schema.json
  extensions/template/examples/collection.json
  extensions/template/examples/item.json
  extensions/template/schema.json
  validate.sh
  validation.js
Due: stac-node-validator, eslint

chore: Remove unused item-assets extension reference
  extensions/quality/examples/collection.json
Due: stac-node-validator, eslint

chore: Remove template-related content
  extensions/quality/examples/collection.json
Due: stac-node-validator, eslint

fix: updated extension examples and h-i test
  extensions/aerial-photo/examples/item.json
  extensions/camera/examples/item.json
  extensions/film/examples/item.json
  extensions/historical-imagery/examples/collection.json
  extensions/historical-imagery/examples/item.json
  extensions/historical-imagery/tests/historical-imagery_item.test.js
  extensions/scanning/examples/item.json
Due: stac-node-validator, eslint

fix: updated extension examples and h-i test (#155)
  extensions/aerial-photo/examples/item.json
  extensions/camera/examples/item.json
  extensions/film/examples/item.json
  extensions/historical-imagery/examples/collection.json
  extensions/historical-imagery/examples/item.json
  extensions/historical-imagery/tests/historical-imagery_item.test.js
  extensions/scanning/examples/item.json
Due: stac-node-validator, eslint

feat: Integrate new schema into processing extension
  extensions/linz/notebooks/processing-software-link.ipynb
Due: none

docs: Add investigation into software spec
  extensions/linz/notebooks/processing-software-link.ipynb
Due: none

docs: Explain why `link` rather than `url`
  extensions/linz/notebooks/processing-software-link.ipynb
Due: none

docs: Explain why I'm using IRI rather than URL
  extensions/linz/notebooks/processing-software-link.ipynb
Due: none

docs: Add processing software link investigation (#153)
  .gitignore
  extensions/linz/notebooks/processing-software-link.ipynb
  shell.nix
Due: none

chore: Remove irrelevant template content (#154)
  extensions/quality/examples/collection.json
Due: stac-node-validator, eslint

Update feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: prettier

Update bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Due: prettier

docs(point-cloud): add README for LINZ point cloud extension
  extensions/point-cloud/README.md
Due: prettier

fix: markdown linting
  .github/ISSUE_TEMPLATE/bug_report.md
Due: prettier

fix: markdown linting
  .github/ISSUE_TEMPLATE/feature_request.md
Due: prettier

feat: Add new optional linz:language and linz:encoding fields to the linz extension
  extensions/linz/examples/collection.json
  extensions/linz/examples/item.json
  extensions/linz/schema.json
  extensions/linz/tests/linz_collection.test.js
Due: stac-node-validator, eslint

Update feature_request.md (#159)
  .github/ISSUE_TEMPLATE/feature_request.md
Due: prettier

Update bug_report.md (#160)
  .github/ISSUE_TEMPLATE/bug_report.md
Due: prettier

fix: update readme and regex for language code
  extensions/linz/README.md
  extensions/linz/examples/collection.json
  extensions/linz/examples/item.json
  extensions/linz/schema.json
Due: stac-node-validator, prettier, eslint

Path conditions:
  stac-node-validator: any of: ^extensions/[^/]+/examples/.*\.json$
  prettier: any of: ^.*\.(md|yaml)$
  eslint: any of: \.json$
