Repository linz/STAC: changes, and which pre-commit hooks are due for each by the changed paths.
All: stac-node-validator, prettier, eslint

stac-node-validator:
  name: stac-node-validator
  entry: ./validate.sh
  language: system
  stages:
  - commit

prettier:
  name: prettier
  entry: node_modules/.bin/prettier
  language: node
  stages:
  - commit

eslint:
  name: eslint
  entry: node_modules/.bin/eslint
  language: node
  stages:
  - commit

fix: add non-eamples for other etensions
  extensions/camera/non-examples/item.json
  extensions/quality/non-examples/collection.json
  extensions/template/non-examples/collection.json
Due: eslint

v0.0.4
  CHANGELOG.md
  package.json
Due: prettier, eslint

docs: fix links in README (#48)
  README.md
Due: prettier

deploy: 787d0d83900d56b9ed1760207034c7c767fa0255
  v0.0.4/camera/README.md
  v0.0.4/camera/examples/item.json
  v0.0.4/camera/schema.json
  v0.0.4/historical_imagery/README.md
  v0.0.4/linz/CHANGELOG.md
  v0.0.4/linz/README.md
  v0.0.4/linz/examples/collection.json
  v0.0.4/linz/schema.json
  v0.0.4/quality/CHANGELOG.md
  v0.0.4/quality/README.md
  v0.0.4/quality/examples/collection.json
  v0.0.4/quality/schema.json
  v0.0.4/template/CHANGELOG.md
  v0.0.4/template/README.md
  v0.0.4/template/examples/collection.json
  v0.0.4/template/examples/item.json
  v0.0.4/template/schema.json
Due: prettier, eslint

fix: fixed the quality schema to actually validate the quality fields
  extensions/quality/non-examples/collection.json
  extensions/quality/schema.json
Due: eslint

feat: added negative json examples to verify schemas negatively (#46)
  extensions/camera/non-examples/item.json
  extensions/linz/non-examples/collection.json
  extensions/quality/non-examples/collection.json
  extensions/quality/schema.json
  extensions/template/non-examples/collection.json
  extensions/template/non-examples/item.json
  package.json
  validate.sh
Due: eslint

feat: Create scanning extension
  README.md
  extensions/scanning/README.md
  extensions/scanning/examples/item.json
  extensions/scanning/schema.json
  validate.sh
Due: stac-node-validator, prettier, eslint

fix: removed duplicate validation of the title property in the quality extensioon
  extensions/quality/schema.json
Due: eslint

fix: removed duplicate validation of the title property in the qualit… (#52)
  extensions/quality/schema.json
Due: eslint

broken README link
  extensions/linz/README.md
Due: prettier

feat: Add editor configuration
  .editorconfig
Due: none

fix: scanning extension date format to RFC3339
  extensions/scanning/README.md
  extensions/scanning/examples/item.json
  extensions/scanning/schema.json
Due: stac-node-validator, prettier, eslint

feat: Add editor configuration (#54)
  .editorconfig
Due: none

broken README link (#53)
  extensions/linz/README.md
Due: prettier

fix: scanning extension readme scanned description
  extensions/scanning/README.md
Due: prettier

refactor: Split non-examples into one per required property
  extensions/linz/non-examples/no_linz_created.json
  extensions/linz/non-examples/no_linz_security_classification.json
  extensions/linz/non-examples/no_linz_updated.json
  extensions/linz/non-examples/no_title.json
Due: eslint

tests: Verify that additional "linz:" properties are rejected
  extensions/linz/non-examples/additional_linz_property.json
Due: eslint

feat: Create scanning extension (#55)
  README.md
  extensions/scanning/README.md
  extensions/scanning/examples/item.json
  extensions/scanning/schema.json
  validate.sh
Due: stac-node-validator, prettier, eslint

chore: Remove tautological schema definitions
  extensions/camera/schema.json
  extensions/linz/schema.json
  extensions/quality/schema.json
  extensions/template/schema.json
Due: eslint

feat: added new fields in quality extension
  extensions/quality/README.md
  extensions/quality/non-examples/incorrect_accuracy_type.json
  extensions/quality/non-examples/incorrect_description.json
  extensions/quality/schema.json
Due: prettier, eslint

chore: Remove tautological schema definitions (#58)
  extensions/camera/schema.json
  extensions/linz/schema.json
  extensions/quality/schema.json
  extensions/template/schema.json
Due: eslint

tests: Verify that additional "linz:" properties are rejected (#57)
  extensions/linz/non-examples/additional_linz_property.json
Due: eslint

feat: Create film extension
  README.md
  extensions/film/README.md
  extensions/film/examples/item.json
  extensions/film/schema.json
  validate.sh
Due: stac-node-validator, prettier, eslint

refactor: Split LINZ non-examples into one per required property (#56)
  extensions/linz/non-examples/no_linz_created.json
  extensions/linz/non-examples/no_linz_security_classification.json
  extensions/linz/non-examples/no_linz_updated.json
  extensions/linz/non-examples/no_title.json
Due: eslint

fix: removed unwanted change to schema file
  extensions/quality/non-examples/incorrect_description.json
Due: eslint

fix: enhancements to schema
  extensions/camera/schema.json
Due: eslint

fix: remove .his from example schema
  extensions/camera/non-examples/item.json
Due: eslint

docs: Specify LINZ extension field name prefix
  extensions/linz/README.md
Due: prettier

docs: Specify LINZ extension field name prefix (#62)
  extensions/linz/README.md
Due: prettier

feat: added new fields in quality extension (#59)
  extensions/quality/README.md
  extensions/quality/non-examples/incorrect_accuracy_type.json
  extensions/quality/non-examples/incorrect_description.json
  extensions/quality/schema.json
Due: prettier, eslint

docs: Document how to run tests
  README.md
  extensions/linz/README.md
  extensions/template/README.md
Due: prettier

fix: updated field names and descriptions
  extensions/film/README.md
  extensions/film/examples/item.json
  extensions/film/schema.json
Due: stac-node-validator, prettier, eslint

feat: Require quality extension in LINZ extension
  extensions/linz/examples/collection.json
  extensions/linz/non-examples/additional_linz_property.json
  extensions/linz/non-examples/additional_quality_property.json
  extensions/linz/non-examples/no_linz_created.json
  extensions/linz/non-examples/no_linz_security_classification.json
  extensions/linz/non-examples/no_quality_extension.json
  extensions/linz/non-examples/no_title.json
  extensions/linz/schema.json
Due: stac-node-validator, eslint

tests: Add orphan quality properties
  extensions/linz/non-examples/no_quality_extension.json
Due: eslint

feat: Refer to other extensions explicitly
  extensions/linz/non-examples/no_quality_extension.json
  extensions/linz/non-examples/no_version_extension.json
  extensions/linz/schema.json
Due: eslint

refactor: Move invalid content to the bottom
  extensions/linz/non-examples/additional_linz_property.json
Due: eslint

docs: Tweak descriptions
  extensions/linz/non-examples/additional_linz_property.json
  extensions/linz/non-examples/additional_quality_property.json
  extensions/linz/non-examples/no_linz_created.json
  extensions/linz/non-examples/no_linz_security_classification.json
  extensions/linz/non-examples/no_linz_updated.json
  extensions/linz/non-examples/no_quality_extension.json
  extensions/linz/non-examples/no_title.json
Due: eslint

docs: Document reference to other extensions
  extensions/linz/README.md
Due: prettier

feat: Require version extension in LINZ extension
  extensions/linz/non-examples/additional_linz_property.json
  extensions/linz/non-examples/additional_quality_property.json
  extensions/linz/non-examples/no_linz_created.json
  extensions/linz/non-examples/no_linz_security_classification.json
  extensions/linz/non-examples/no_linz_updated.json
  extensions/linz/non-examples/no_quality_extension.json
  extensions/linz/non-examples/no_title.json
  extensions/linz/non-examples/no_version_extension.json
  extensions/linz/non-examples/no_version_property.json
  extensions/linz/schema.json
Due: eslint

Path conditions:
  stac-node-validator: any of: ^extensions/[^/]+/examples/.*\.json$
  prettier: any of: ^.*\.(md|yaml)$
  eslint: any of: \.json$
