Repository linz/STAC: changes, and which pre-commit hooks are due for each by the changed paths.
All: stac-node-validator, prettier, eslint

.pre-commit-config.yaml:

# Configuration file for pre-commit (https://pre-commit.com/).
# Please run `pre-commit run --all-files` when adding or changing entries.

repos:
  - repo: local
    hooks:
      - id: stac-node-validator
        name: stac-node-validator
        entry: ./validate.sh
        language: system
        files: ^extensions/[^/]+/examples/.*\.json$
        stages: [commit]

      - id: prettier
        name: prettier
        entry: node_modules/.bin/prettier
        language: node
        files: ^.*\.(md|yaml)$
        stages: [commit]

      - id: eslint
        name: eslint
        entry: node_modules/.bin/eslint
        language: node
        types: [json]
        stages: [commit]

fix: description
  extensions/quality/tests/quality_collection.test.js
Due: none

refactor: Change LINZ non-examples to unit tests (#97)
  extensions/linz/non-examples/additional_linz_property.json
  extensions/linz/non-examples/additional_quality_property.json
  extensions/linz/non-examples/invalid_projection_espg_code.json
  extensions/linz/non-examples/no_lifecycle.json
  extensions/linz/non-examples/no_linz_created.json
  extensions/linz/non-examples/no_linz_security_classification.json
  extensions/linz/non-examples/no_linz_updated.json
  extensions/linz/non-examples/no_title.json
  extensions/linz/non-examples/no_version_property.json
  extensions/linz/tests/linz_collection.test.js
Due: eslint

fix: Include third party schemas on top level (#101)
  extensions/linz/examples/item.json
  extensions/linz/schema.json
Due: stac-node-validator, eslint

feat: add unit tests for the quality extension (#96)
  extensions/quality/non-examples/incorrect_accuracy_type.json
  extensions/quality/non-examples/incorrect_description.json
  extensions/quality/non-examples/missing_lineage_description.json
  extensions/quality/tests/quality_collection.test.js
Due: eslint

fix: use longer default timeout when test has to download schema (#102)
  .eslintrc.cjs
  extensions/linz/tests/linz_collection.test.js
  extensions/linz/tests/linz_item.test.js
  extensions/template/tests/template_collection.test.js
  extensions/template/tests/template_item.test.js
  extensions/validation.js
Due: none

feat: replace remaining non-examples with unit tests
  extensions/aerial-photo/non-examples/no_run.json
  extensions/aerial-photo/non-examples/no_sequence_number.json
  extensions/aerial-photo/non-examples/run_integer.json
  extensions/aerial-photo/non-examples/sequence_number_string.json
  extensions/aerial-photo/tests/aerial_photo_item.test.js
  extensions/camera/tests/camera.test.js
  extensions/film/non-examples/film_id_integer.json
  extensions/film/non-examples/negative_sequence_string.json
  extensions/film/non-examples/no_film_id.json
  extensions/film/non-examples/no_negative_sequence.json
  extensions/film/tests/film.test.js
  validate.sh
Due: eslint

feat: replace remaining non-examples with unit tests (#104)
  extensions/aerial-photo/non-examples/no_run.json
  extensions/aerial-photo/non-examples/no_sequence_number.json
  extensions/aerial-photo/non-examples/run_integer.json
  extensions/aerial-photo/non-examples/sequence_number_string.json
  extensions/aerial-photo/tests/aerial_photo_item.test.js
  extensions/camera/tests/camera.test.js
  extensions/film/non-examples/film_id_integer.json
  extensions/film/non-examples/negative_sequence_string.json
  extensions/film/non-examples/no_film_id.json
  extensions/film/non-examples/no_negative_sequence.json
  extensions/film/tests/film.test.js
  validate.sh
Due: eslint

docs: add descriptions from ISO standard
  extensions/linz/README.md
Due: prettier

Revert "docs: lower-case geospatial_type names"
  extensions/linz/README.md
Due: prettier

Revert "docs: improve geospatial_type descriptions"
  extensions/linz/README.md
Due: prettier

tests: Rename tests for clarity
  extensions/aerial-photo/tests/aerial_photo_item.test.js
  extensions/camera/tests/camera.test.js
  extensions/film/tests/film.test.js
  extensions/linz/tests/linz_collection.test.js
  extensions/linz/tests/linz_item.test.js
  extensions/quality/tests/quality_collection.test.js
  extensions/template/tests/template_collection.test.js
  extensions/template/tests/template_item.test.js
Due: none

fix: use US english spelling
  extensions/linz/README.md
  extensions/linz/schema.json
Due: prettier, eslint

docs: add url to iso standard
  extensions/linz/README.md
Due: prettier

refactor: Simplify variable names
  extensions/aerial-photo/tests/aerial_photo_item.test.js
  extensions/camera/tests/camera.test.js
  extensions/film/tests/film.test.js
  extensions/linz/tests/linz_collection.test.js
  extensions/linz/tests/linz_item.test.js
  extensions/quality/tests/quality_collection.test.js
  extensions/template/tests/template_collection.test.js
  extensions/template/tests/template_item.test.js
Due: none

refactor: Rename tests for readability (#106)
  extensions/aerial-photo/tests/aerial_photo_item.test.js
  extensions/camera/tests/camera.test.js
  extensions/film/tests/film.test.js
  extensions/linz/tests/linz_collection.test.js
  extensions/linz/tests/linz_item.test.js
  extensions/quality/tests/quality_collection.test.js
  extensions/template/tests/template_collection.test.js
  extensions/template/tests/template_item.test.js
Due: none

docs: fixed spelling
  extensions/linz/README.md
Due: prettier

tests: Set same test timeout everywhere
  extensions/aerial-photo/tests/aerial_photo_item.test.js
  extensions/camera/tests/camera.test.js
  extensions/film/tests/film.test.js
  extensions/quality/tests/quality_collection.test.js
  extensions/template/tests/template_collection.test.js
  extensions/template/tests/template_item.test.js
Due: none

docs: Add better definitions to LINZ README for geospatial_types (#105)
  extensions/linz/README.md
  extensions/linz/schema.json
Due: prettier, eslint

refactor: Rename constant for consistency
  extensions/aerial-photo/tests/aerial_photo_item.test.js
  extensions/camera/tests/camera.test.js
  extensions/film/tests/film.test.js
  extensions/linz/tests/linz_collection.test.js
  extensions/linz/tests/linz_item.test.js
  extensions/quality/tests/quality_collection.test.js
  extensions/template/tests/template_collection.test.js
  extensions/template/tests/template_item.test.js
  extensions/validation.js
Due: none

docs: Lower "Extensions" heading level
  extensions/linz/README.md
Due: prettier

docs: Add details about the gh-pages branch
  README.md
Due: prettier

fix: validate that both manager and custodian roles are populated in linz:providers object
  extensions/linz/examples/collection.json
  extensions/linz/schema.json
  extensions/linz/tests/linz_collection.test.js
Due: stac-node-validator, eslint

docs: Fix heading level (#107)
  extensions/linz/README.md
Due: prettier

tests: Set same test timeout everywhere (#108)
  extensions/aerial-photo/tests/aerial_photo_item.test.js
  extensions/camera/tests/camera.test.js
  extensions/film/tests/film.test.js
  extensions/linz/tests/linz_collection.test.js
  extensions/linz/tests/linz_item.test.js
  extensions/quality/tests/quality_collection.test.js
  extensions/template/tests/template_collection.test.js
  extensions/template/tests/template_item.test.js
  extensions/validation.js
Due: none

fix: validate that both manager and custodian roles are populated in … (#111)
  extensions/linz/examples/collection.json
  extensions/linz/schema.json
  extensions/linz/tests/linz_collection.test.js
Due: stac-node-validator, eslint

docs: Add details about the gh-pages branch (#110)
  README.md
Due: prettier

refactor: Rename asset for clarity and consistency
  extensions/linz/examples/item.json
Due: stac-node-validator, eslint

chore: Remove linz:created and linz:updated properties
  extensions/linz/README.md
  extensions/linz/examples/collection.json
  extensions/linz/schema.json
  extensions/linz/tests/linz_collection.test.js
Due: stac-node-validator, prettier, eslint

feat: Require 'created' property on collection assets
  extensions/linz/README.md
  extensions/linz/examples/collection.json
  extensions/linz/examples/item.json
  extensions/linz/schema.json
  extensions/linz/tests/linz_collection.test.js
  extensions/linz/tests/linz_item.test.js
Due: stac-node-validator, prettier, eslint

feat: Require 'updated' property on item assets
  extensions/linz/README.md
  extensions/linz/examples/collection.json
  extensions/linz/examples/item.json
  extensions/linz/schema.json
  extensions/linz/tests/linz_collection.test.js
  extensions/linz/tests/linz_item.test.js
Due: stac-node-validator, prettier, eslint

feat: Summarise 'updated' values
  extensions/linz/README.md
  extensions/linz/examples/collection.json
  extensions/linz/schema.json
Due: stac-node-validator, prettier, eslint

feat: Summarise 'created' values
  extensions/linz/README.md
  extensions/linz/examples/collection.json
  extensions/linz/schema.json
  extensions/linz/tests/linz_collection.test.js
Due: stac-node-validator, prettier, eslint

refactor: Rename variables for consistency and clarity
  extensions/linz/tests/linz_collection.test.js
  extensions/linz/tests/linz_item.test.js
Due: none

feat: Summarise created and updated datetimes (#109)
  extensions/linz/README.md
  extensions/linz/examples/collection.json
  extensions/linz/examples/item.json
  extensions/linz/schema.json
  extensions/linz/tests/linz_collection.test.js
  extensions/linz/tests/linz_item.test.js
Due: stac-node-validator, prettier, eslint

v0.0.8
  CHANGELOG.md
  package.json
Due: prettier, eslint

deploy: d40e7d23d3f08011ad3dedb0efe042a819a7021b
  v0.0.8/aerial-photo/README.md
  v0.0.8/aerial-photo/examples/item.json
  v0.0.8/aerial-photo/schema.json
  v0.0.8/aerial-photo/tests/aerial_photo_item.test.js
  v0.0.8/camera/README.md
  v0.0.8/camera/examples/item.json
  v0.0.8/camera/schema.json
  v0.0.8/camera/tests/camera.test.js
  v0.0.8/film/README.md
  v0.0.8/film/examples/item.json
  v0.0.8/film/schema.json
  v0.0.8/film/tests/film.test.js
  v0.0.8/historical-imagery/README.md
  v0.0.8/linz/CHANGELOG.md
  v0.0.8/linz/README.md
  v0.0.8/linz/examples/collection.json
  v0.0.8/linz/examples/item.json
  v0.0.8/linz/schema.json
  v0.0.8/linz/tests/linz_collection.test.js
  v0.0.8/linz/tests/linz_item.test.js
  v0.0.8/quality/CHANGELOG.md
  v0.0.8/quality/README.md
  v0.0.8/quality/examples/collection.json
  v0.0.8/quality/schema.json
  v0.0.8/quality/tests/quality_collection.test.js
  v0.0.8/scanning/README.md
  v0.0.8/scanning/examples/item.json
  v0.0.8/scanning/schema.json
  v0.0.8/template/CHANGELOG.md
  v0.0.8/template/README.md
  v0.0.8/template/examples/collection.json
  v0.0.8/template/examples/item.json
  v0.0.8/template/schema.json
  v0.0.8/template/tests/template_collection.test.js
  v0.0.8/template/tests/template_item.test.js
  v0.0.8/validation.js
Due: prettier, eslint

feat: add geospatial type summary for linz collections
  extensions/linz/README.md
  extensions/linz/examples/collection.json
  extensions/linz/schema.json
  extensions/linz/tests/linz_collection.test.js
Due: stac-node-validator, prettier, eslint

fix: remove unwanted changes
  extensions/linz/schema.json
Due: eslint

fix: add extra enum test
  extensions/linz/tests/linz_collection.test.js
Due: none

feat: add geospatial type summary for linz collections (#113)
  extensions/linz/README.md
  extensions/linz/examples/collection.json
  extensions/linz/schema.json
  extensions/linz/tests/linz_collection.test.js
Due: stac-node-validator, prettier, eslint
