Repository linz/STAC: changes, and which pre-commit hooks are due for each by the changed paths.
All: remark-lint, stac-node-validator

remark-lint:
  name: remark-lint
  entry: node_modules/.bin/remark --frail --rc-path=.github/remark.yaml
  language: system
  stages:
  - commit

stac-node-validator:
  name: stac-node-validator
  entry: node_modules/.bin/stac-node-validator --schemaMap=https://stac-extensions.github.io/template/v1.0.0/schema.json=extensions/template/json-schema/schema.json
  language: system
  stages:
  - commit

fix: update readme with steps for yarn
  README.md
Due: remark-lint

fix: extencion validation issues
  .pre-commit-config.yaml
  README.md
  extensions/camera/README.md
  extensions/camera/examples/item.json
  extensions/camera/json-schema/schema.json
Due: remark-lint, stac-node-validator

docs: update Readme
  README.md
Due: remark-lint

feat: Introduce STAC template (#9)
  .github/dependabot.yml
  .github/remark.yaml
  .github/workflows/publish.yaml
  .github/workflows/test.yaml
  .gitignore
  .pre-commit-config.yaml
  LICENSE
  README.md
  extensions/camera/README.md
  extensions/camera/examples/item.json
  extensions/camera/json-schema/schema.json
  extensions/historical_imagery/README.md
  extensions/template/CHANGELOG.md
  extensions/template/README.md
  extensions/template/examples/collection.json
  extensions/template/examples/item.json
  extensions/template/json-schema/schema.json
  package.json
  poetry.lock
  poetry.toml
  pyproject.toml
  yarn.lock
Due: remark-lint, stac-node-validator

feat: add kodiak toml file
  .kodiak.toml
Due: none

feat: add kodiak toml file (#17)
  .kodiak.toml
Due: none

chore: Remove remark linter/formatter configuration
  .github/remark.yaml
  .pre-commit-config.yaml
  package.json
  yarn.lock
Due: none

chore: Remove remark linter/formatter configuration (#18)
  .github/remark.yaml
  .pre-commit-config.yaml
  package.json
  yarn.lock
Due: none

chore: use license plain text
  LICENSE
Due: none

chore: use license plain text (#19)
  LICENSE
Due: none

Add new linz STAC extension for the 'quality' metadata attribute
  .github/remark.yaml
  .pre-commit-config.yaml
  extensions/quality/CHANGELOG.md
  extensions/quality/README.md
  extensions/quality/examples/collection.json
  extensions/quality/examples/item.json
  extensions/quality/json-schema/schema.json
  pyproject.toml
Due: remark-lint, stac-node-validator

feat: add further values to quality extension
  extensions/quality/README.md
  extensions/quality/examples/collection.json
  extensions/quality/json-schema/schema.json
Due: remark-lint, stac-node-validator

feat: add example quality fields
  extensions/quality/examples/collection.json
  extensions/quality/examples/item.json
  extensions/quality/json-schema/schema.json
Due: stac-node-validator

fix: schema
  extensions/quality/json-schema/schema.json
Due: none

chore: remove remark config file
  .github/remark.yaml
Due: none

fix: remove WIP comments from readme
  extensions/quality/README.md
Due: remark-lint

feat: update extension readme
  extensions/quality/README.md
Due: remark-lint

feat: Create quality extension (#5)
  .pre-commit-config.yaml
  extensions/quality/CHANGELOG.md
  extensions/quality/README.md
  extensions/quality/examples/collection.json
  extensions/quality/json-schema/schema.json
  pyproject.toml
Due: remark-lint, stac-node-validator

docs: add security classification to linz extension
  extensions/linz/README.md
Due: remark-lint

feat: add security_classification property
  extensions/linz/json-schema/schema.json
Due: none

feat: add security_classification property to example json
  extensions/linz/examples/collection.json
Due: stac-node-validator

fix: path to json schema
  extensions/linz/examples/collection.json
  extensions/linz/json-schema/schema.json
Due: stac-node-validator

fix: add pre-commit mappiong to unpublished schema
  .pre-commit-config.yaml
  extensions/linz/examples/collection.json
  extensions/linz/json-schema/schema.json
Due: stac-node-validator

Security classification (#23)
  .pre-commit-config.yaml
  extensions/linz/README.md
  extensions/linz/examples/collection.json
  extensions/linz/json-schema/schema.json
Due: remark-lint, stac-node-validator

ci: create release pipeline
  .eslintrc.cjs
  .github/workflows/test.yaml
  .prettierrc.cjs
  README.md
  package.json
  yarn.lock
Due: remark-lint

ci: create release pipeline (#30)
  .eslintrc.cjs
  .github/workflows/test.yaml
  .prettierrc.cjs
  README.md
  package.json
  yarn.lock
Due: remark-lint

ci: ensure all the schemas are located at the right place
  .github/workflows/test.yaml
  .pre-commit-config.yaml
  extensions/camera/README.md
  extensions/camera/examples/item.json
  extensions/camera/json-schema/schema.json
  extensions/linz/CHANGELOG.md
  extensions/linz/README.md
  extensions/linz/examples/collection.json
  extensions/linz/json-schema/schema.json
  extensions/quality/CHANGELOG.md
  extensions/quality/README.md
  extensions/quality/examples/collection.json
  extensions/quality/json-schema/schema.json
  package.json
  validate.sh
Due: remark-lint, stac-node-validator

ci: replace __STAC_VERSION__ with the current slug
  .github/workflows/publish.yaml
  extensions/camera/README.md
  extensions/camera/examples/item.json
  extensions/camera/schema.json
  extensions/linz/README.md
  extensions/linz/examples/collection.json
  extensions/linz/schema.json
  extensions/quality/README.md
  extensions/quality/examples/collection.json
  extensions/quality/schema.json
  extensions/template/README.md
  extensions/template/examples/collection.json
  extensions/template/examples/item.json
  extensions/template/schema.json
  validate.sh
Due: remark-lint, stac-node-validator

refactor: apply lint fixes
  extensions/template/schema.json
Due: none

wip
  .github/workflows/publish.yaml
  extensions/template/examples/collection.json
  extensions/template/examples/item.json
  package.json
  validate.sh
Due: stac-node-validator

build: missing dep
  .github/workflows/publish.yaml
  package.json
  yarn.lock
Due: none

fix: correct url for template
  extensions/template/schema.json
Due: none

fix: allow white space to be passed in
  validate.sh
Due: none

fix: correct urls
  extensions/quality/schema.json
  extensions/template/README.md
Due: remark-lint

ci: make consistent urls (#31)
  .github/workflows/publish.yaml
  .github/workflows/test.yaml
  .pre-commit-config.yaml
  extensions/camera/README.md
  extensions/camera/examples/item.json
  extensions/camera/schema.json
  extensions/linz/CHANGELOG.md
  extensions/linz/README.md
  extensions/linz/examples/collection.json
  extensions/linz/schema.json
  extensions/quality/CHANGELOG.md
  extensions/quality/README.md
  extensions/quality/examples/collection.json
  extensions/quality/schema.json
  extensions/template/README.md
  extensions/template/examples/collection.json
  extensions/template/examples/item.json
  extensions/template/schema.json
  package.json
  validate.sh
  yarn.lock
Due: remark-lint, stac-node-validator

build: lower the version to v0.0.0
  package.json
Due: none

0.0.1
  CHANGELOG.md
  package.json
Due: remark-lint

feat: added new mandatory fields to LINZ STAC schema
  extensions/linz/README.md
  extensions/linz/examples/collection.json
  extensions/linz/schema.json
Due: remark-lint, stac-node-validator

ci: publish on tag being pushed
  .github/workflows/publish.yaml
  .github/workflows/test.yaml
Due: none

fix: Use portable shebang line
  validate.sh
Due: none

Path conditions:
  remark-lint: any of: \.(md|markdown|mdown)$
  stac-node-validator: any of: ^extensions/[^/]+/examples/.*\.json$
