Repository linz/STAC: changes, and which pre-commit hooks are due for each by the changed paths.
All: stac-node-validator, prettier, eslint

.pre-commit-config.yaml:

# Configuration file for pre-commit (https://pre-commit.com/).
# Please run `pre-commit run --all-files` when adding or changing entries.

repos:
  - repo: local
    hooks:
      - id: stac-node-validator
        name: stac-node-validator
        entry: ./validate.sh
        language: system
        files: ^extensions/[^/]+/examples/.*\.json$
        stages: [commit]

      - id: prettier
        name: prettier
        entry: node_modules/.bin/prettier
        language: node
        files: ^.*\.(md|yaml)$
        stages: [commit]

      - id: eslint
        name: eslint
        entry: node_modules/.bin/eslint
        language: node
        types: [json]
        stages: [commit]

feat: Fix strict ajv warnings in historical-imagery extension
  extensions/historical-imagery/schema.json
Due: eslint

feat: Fix strict ajv warnings in aerial-photo extension
  extensions/aerial-photo/schema.json
Due: eslint

feat: Fix strict ajv warnings in film extension
  extensions/film/schema.json
Due: eslint

feat: Fix strict ajv warnings (#167)
  extensions/aerial-photo/schema.json
  extensions/film/schema.json
  extensions/historical-imagery/schema.json
  extensions/linz/schema.json
  extensions/template/schema.json
Due: eslint

ci: workflow to build fields.json
  .github/workflows/feilds.yaml
  fields/custom-fields.json
  fields/import-fields-json.js
Due: prettier, eslint

ci: builds on push if you edit custom-fields.json
  .github/workflows/feilds.yaml
Due: prettier

fix: uses specific stac fields.json url
  fields/import-fields-json.js
Due: none

fix: range to value
  fields/custom-fields.json
Due: eslint

fix: ci and range value
  .github/workflows/feilds.yaml
  fields/custom-fields.json
Due: prettier, eslint

fix: format file
  .github/workflows/feilds.yaml
Due: prettier

fix: typo
  .github/workflows/fields.yaml
Due: prettier

fix: cleaner way of formatting json
  .github/workflows/fields.yaml
  fields/import-fields-json.js
Due: prettier

fix: don't push to master branch
  .github/workflows/fields.yaml
Due: prettier

fix: delete original fields.json
  fields.json
Due: eslint

fix: doesn't update fields if script errors
  .github/workflows/fields.yaml
  fields/import-fields-json.js
Due: prettier

feat: Fix strict ajv warnings in camera extension
  extensions/camera/schema.json
Due: eslint

feat: Fix strict ajv warnings in scanning extension
  extensions/scanning/schema.json
Due: eslint

feat: Verify ospec stderr output
  .github/workflows/test.yaml
Due: prettier

feat: Verify ospec stderr output (#198)
  .github/workflows/test.yaml
  extensions/camera/schema.json
  extensions/scanning/schema.json
Due: prettier, eslint

feat: fields.json (#197)
  .github/workflows/fields.yaml
  fields/custom-fields.json
  fields/fields.json
  fields/import-fields-json.js
Due: prettier, eslint

feat: require additional fields for historical imagery
  extensions/aerial-photo/schema.json
  extensions/aerial-photo/tests/aerial_photo_collection.test.js
  extensions/camera/tests/camera_collection.test.js
  extensions/film/schema.json
  extensions/film/tests/film_collection.test.js
  extensions/historical-imagery/examples/collection.json
  extensions/historical-imagery/examples/item.json
  extensions/historical-imagery/schema.json
  extensions/historical-imagery/tests/historical-imagery_collection.test.js
  extensions/historical-imagery/tests/historical-imagery_item.test.js
  extensions/scanning/tests/scanning_collection.test.js
Due: stac-node-validator, eslint

fix: linting
  extensions/aerial-photo/tests/aerial_photo_collection.test.js
  extensions/camera/tests/camera_collection.test.js
  extensions/film/tests/film_collection.test.js
  extensions/historical-imagery/tests/historical-imagery_item.test.js
  extensions/scanning/tests/scanning_collection.test.js
Due: none

fix: added git tag example to readme
  README.md
Due: prettier

v0.0.13
  CHANGELOG.md
  package.json
Due: prettier, eslint

Updated readme links to v0.0.13
  README.md
Due: prettier

fix: fixed typo
  extensions/historical-imagery/tests/historical-imagery_collection.test.js
Due: none

feat: require additional fields for historical imagery (require linz extension) (#199)
  README.md
  extensions/aerial-photo/schema.json
  extensions/aerial-photo/tests/aerial_photo_collection.test.js
  extensions/camera/tests/camera_collection.test.js
  extensions/film/schema.json
  extensions/film/tests/film_collection.test.js
  extensions/historical-imagery/examples/collection.json
  extensions/historical-imagery/examples/item.json
  extensions/historical-imagery/schema.json
  extensions/historical-imagery/tests/historical-imagery_collection.test.js
  extensions/historical-imagery/tests/historical-imagery_item.test.js
  extensions/scanning/tests/scanning_collection.test.js
Due: stac-node-validator, prettier, eslint

v0.0.14
  CHANGELOG.md
  package.json
Due: prettier, eslint

Update readme links to v0.0.14
  README.md
Due: prettier

chore: Bump checkout action version
  .github/workflows/fields.yaml
  .github/workflows/publish.yaml
  .github/workflows/test.yaml
Due: prettier

chore: Bump checkout action version (#211)
  .github/workflows/fields.yaml
  .github/workflows/publish.yaml
  .github/workflows/test.yaml
Due: prettier

fix: enable processing:software summaries and remove from h-i collection
  extensions/historical-imagery/examples/collection.json
  extensions/historical-imagery/schema.json
  extensions/historical-imagery/tests/historical-imagery_collection.test.js
  fields/fields.json
Due: stac-node-validator, eslint

fix: formatting
  extensions/historical-imagery/examples/collection.json
Due: stac-node-validator, eslint

fix: remove processing:software override
  fields/fields.json
Due: eslint

fix: remove processing:software from h-i collection summaries
  extensions/historical-imagery/examples/collection.json
Due: stac-node-validator, eslint

feat: add quality:description to HI collection
  extensions/historical-imagery/examples/collection.json
Due: stac-node-validator, eslint

feat(historical-imagery): add quality:description to collection (#217)
  extensions/historical-imagery/examples/collection.json
Due: stac-node-validator, eslint

fix: remove requirement for processing extension
  extensions/historical-imagery/examples/collection.json
  extensions/historical-imagery/examples/item.json
  extensions/historical-imagery/schema.json
  extensions/historical-imagery/tests/historical-imagery_collection.test.js
  extensions/historical-imagery/tests/historical-imagery_item.test.js
Due: stac-node-validator, eslint
