Repository linz/STAC: changes, and which pre-commit hooks are due for each by the changed paths.
All: stac-node-validator, prettier, eslint

.pre-commit-config.yaml:

# Configuration file for pre-commit (https://pre-commit.com/).
# Please run `pre-commit run --all-files` when adding or changing entries.

repos:
  - repo: local
    hooks:
      - id: stac-node-validator
        name: stac-node-validator
        entry: ./validate.sh
        language: system
        files: ^extensions/[^/]+/examples/.*\.json$
        stages: [commit]

      - id: prettier
        name: prettier
        entry: node_modules/.bin/prettier
        language: node
        files: ^.*\.(md|yaml)$
        stages: [commit]

      - id: eslint
        name: eslint
        entry: node_modules/.bin/eslint
        language: node
        types: [json]
        stages: [commit]

fix: Enforce `aerial-photo:run` minimum items
  extensions/aerial-photo/schema.json
  extensions/aerial-photo/tests/aerial_photo_collection.test.js
Due: eslint

refactor: Add some whitespace between tests
  extensions/aerial-photo/tests/aerial_photo_collection.test.js
  extensions/film/tests/film_collection.test.js
  extensions/historical-imagery/tests/historical-imagery_collection.test.js
Due: none

fix: Enforce `film:physical_size` minimum items
  extensions/film/schema.json
  extensions/film/tests/film_collection.test.js
Due: eslint

fix: Enforce `film:id` minimum items
  extensions/film/schema.json
  extensions/film/tests/film_collection.test.js
Due: eslint

fix: Enforce `film:physical_condition` minimum items
  extensions/film/schema.json
  extensions/film/tests/film_collection.test.js
Due: eslint

fix: Enforce `platform` minimum items
  extensions/historical-imagery/schema.json
  extensions/historical-imagery/tests/historical-imagery_collection.test.js
Due: eslint

fix: Enforce `instruments` minimum items
  extensions/historical-imagery/schema.json
  extensions/historical-imagery/tests/historical-imagery_collection.test.js
Due: eslint

fix: Enforce `aerial-photo:anomalies` minimum items
  extensions/aerial-photo/schema.json
  extensions/aerial-photo/tests/aerial_photo_collection.test.js
Due: eslint

fix: Remove un-enforced `proj:epsg` minimum items
  extensions/historical-imagery/schema.json
  extensions/historical-imagery/tests/historical-imagery_collection.test.js
Due: eslint

fix: historical imagery should not require instruments field
  extensions/historical-imagery/schema.json
Due: eslint

test: added test for missing h-i instruments field
  extensions/historical-imagery/tests/historical-imagery_item.test.js
Due: none

fix: historical imagery should not require instruments field (#192)
  extensions/historical-imagery/schema.json
  extensions/historical-imagery/tests/historical-imagery_item.test.js
Due: eslint

fix: Enforce `minItems` (#191)
  extensions/aerial-photo/schema.json
  extensions/aerial-photo/tests/aerial_photo_collection.test.js
  extensions/film/schema.json
  extensions/film/tests/film_collection.test.js
  extensions/historical-imagery/schema.json
  extensions/historical-imagery/tests/historical-imagery_collection.test.js
Due: eslint

docs: Create asset summaries investigation (#150)
  extensions/linz/notebooks/asset-datetime-summary.ipynb
Due: none

refactor: historical imagery extension - conditional schema
  extensions/historical-imagery/schema.json
  extensions/historical-imagery/tests/historical-imagery_collection.test.js
  extensions/historical-imagery/tests/historical-imagery_item.test.js
Due: eslint

test: tests for h-i schema change
  extensions/historical-imagery/tests/historical-imagery_collection.test.js
  extensions/historical-imagery/tests/historical-imagery_item.test.js
Due: none

feat: aerial imagery conditional schema
  extensions/aerial-photo/schema.json
  extensions/aerial-photo/tests/aerial_photo_item.test.js
  extensions/linz/tests/linz_item.test.js
Due: eslint

fix: allow null values in proj:epsg summary
  extensions/historical-imagery/schema.json
Due: eslint

feat: conditional camera, film, scanning schemas
  extensions/aerial-photo/schema.json
  extensions/aerial-photo/tests/aerial_photo_item.test.js
  extensions/camera/schema.json
  extensions/film/schema.json
  extensions/scanning/schema.json
Due: eslint

fix: update test
  extensions/historical-imagery/tests/historical-imagery_collection.test.js
Due: none

fix(historical Imagery): allow null values in proj:epsg summary (#193)
  extensions/historical-imagery/schema.json
  extensions/historical-imagery/tests/historical-imagery_collection.test.js
Due: eslint

ci: deploy assets to s3 bucket using ODIC provider
  .github/workflows/test.yaml
Due: prettier

refactor: fix lint
  .github/workflows/test.yaml
Due: prettier

ci: add oidc endpoint
  .github/workflows/test.yaml
Due: prettier

feat: fields.json
  fields.json
Due: eslint

docs: correct historical imagery link
  README.md
Due: prettier

Update README.md
  v0.0.11/historical-imagery/README.md
Due: prettier

fix: broken links on web pages and made links to examples consistent
  extensions/aerial-photo/README.md
  extensions/camera/README.md
  extensions/film/README.md
  extensions/historical-imagery/README.md
  extensions/linz/README.md
  extensions/quality/README.md
  extensions/scanning/README.md
Due: prettier

fix: h-i schema links
  extensions/historical-imagery/README.md
Due: prettier

fix: validate.sh link
  README.md
Due: prettier

fix: broken links on readme web pages and link consistency (#196)
  README.md
  extensions/aerial-photo/README.md
  extensions/camera/README.md
  extensions/film/README.md
  extensions/historical-imagery/README.md
  extensions/linz/README.md
  extensions/quality/README.md
  extensions/scanning/README.md
Due: prettier

Use `conditional` instead of `oneOf` in extensions (#195)
  extensions/aerial-photo/schema.json
  extensions/camera/schema.json
  extensions/film/schema.json
  extensions/historical-imagery/schema.json
  extensions/historical-imagery/tests/historical-imagery_collection.test.js
  extensions/historical-imagery/tests/historical-imagery_item.test.js
  extensions/linz/tests/linz_item.test.js
  extensions/scanning/schema.json
Due: eslint

v0.0.12
  CHANGELOG.md
  package.json
Due: prettier, eslint

Update readme with links to new release v0.0.12
  README.md
Due: prettier

link redirect fixes
  v0.0.12/historical-imagery/README.md
Due: prettier

link redirection fix
  v0.0.12/linz/README.md
Due: prettier

fix: linting
  fields.json
Due: eslint

feat: Fix strict ajv warnings in LINZ extension
  extensions/linz/schema.json
Due: eslint

feat: Fix strict ajv warnings in template extension
  extensions/template/schema.json
Due: eslint
