Repository linz/STAC: changes, and which pre-commit hooks are due for each by the changed paths.
All: stac-node-validator, prettier, eslint

.pre-commit-config.yaml:

# Configuration file for pre-commit (https://pre-commit.com/).
# Please run `pre-commit run --all-files` when adding or changing entries.

repos:
  - repo: local
    hooks:
      - id: stac-node-validator
        name: stac-node-validator
        entry: ./validate.sh
        language: system
        files: ^extensions/[^/]+/examples/.*\.json$
        stages: [commit]

      - id: prettier
        name: prettier
        entry: node_modules/.bin/prettier
        language: node
        files: ^.*\.(md|yaml)$
        stages: [commit]

      - id: eslint
        name: eslint
        entry: node_modules/.bin/eslint
        language: node
        types: [json]
        stages: [commit]

feat: add aerial-photo schema collection
  extensions/aerial-photo/schema.json
Due: eslint

feat: add collection to aerial-photo extension
  extensions/aerial-photo/schema.json
Due: eslint

fix: simple aerial-photo schema with Collection
  extensions/aerial-photo/README.md
  extensions/aerial-photo/schema.json
Due: prettier, eslint

feat: add collection examples to extensions
  extensions/aerial-photo/README.md
  extensions/aerial-photo/examples/collection.json
  extensions/aerial-photo/examples/item.json
  extensions/camera/README.md
  extensions/camera/examples/collection.json
  extensions/camera/examples/item.json
  extensions/camera/schema.json
  extensions/film/README.md
  extensions/film/examples/collection.json
  extensions/film/examples/item.json
  extensions/film/schema.json
  extensions/historical-imagery/schema.json
  extensions/scanning/README.md
  extensions/scanning/examples/collection.json
  extensions/scanning/examples/item.json
  extensions/scanning/schema.json
Due: stac-node-validator, prettier, eslint

test: added extension collection tests
  extensions/aerial-photo/tests/aerial_photo_collection.test.js
  extensions/aerial-photo/tests/aerial_photo_item.test.js
  extensions/camera/tests/camera_collection.test.js
  extensions/camera/tests/camera_item.test.js
  extensions/film/tests/film_collection.test.js
  extensions/film/tests/film_item.test.js
  extensions/historical-imagery/examples/collection.json
  extensions/historical-imagery/tests/historical-imagery_collection.test.js
  extensions/historical-imagery/tests/historical-imagery_item.test.js
  extensions/scanning/tests/scanning_collection.test.js
  extensions/scanning/tests/scanning_item.test.js
Due: stac-node-validator, eslint

fix: readme wording
  extensions/aerial-photo/README.md
  extensions/camera/README.md
  extensions/film/README.md
  extensions/scanning/README.md
Due: prettier

fix: update readme to remove extraneous comment
  extensions/aerial-photo/README.md
  extensions/camera/README.md
  extensions/film/README.md
  extensions/scanning/README.md
Due: prettier

fix: remove eo and file ext references from examples
  extensions/aerial-photo/examples/item.json
  extensions/camera/examples/item.json
  extensions/film/examples/item.json
  extensions/scanning/examples/item.json
Due: stac-node-validator, eslint

fix:revert examples
  extensions/aerial-photo/examples/item.json
  extensions/camera/examples/item.json
  extensions/film/examples/item.json
  extensions/scanning/examples/item.json
Due: stac-node-validator, eslint

feat: add STAC Collections to extensions (TDE-232) (#165)
  extensions/aerial-photo/README.md
  extensions/aerial-photo/examples/collection.json
  extensions/aerial-photo/schema.json
  extensions/aerial-photo/tests/aerial_photo_collection.test.js
  extensions/aerial-photo/tests/aerial_photo_item.test.js
  extensions/camera/README.md
  extensions/camera/examples/collection.json
  extensions/camera/schema.json
  extensions/camera/tests/camera_collection.test.js
  extensions/camera/tests/camera_item.test.js
  extensions/film/README.md
  extensions/film/examples/collection.json
  extensions/film/schema.json
  extensions/film/tests/film_collection.test.js
  extensions/film/tests/film_item.test.js
  extensions/historical-imagery/schema.json
  extensions/historical-imagery/tests/historical-imagery_collection.test.js
  extensions/historical-imagery/tests/historical-imagery_item.test.js
  extensions/scanning/README.md
  extensions/scanning/examples/collection.json
  extensions/scanning/schema.json
  extensions/scanning/tests/scanning_collection.test.js
  extensions/scanning/tests/scanning_item.test.js
Due: stac-node-validator, prettier, eslint

feat: Upgrade to latest version of ajv
  extensions/aerial-photo/tests/aerial_photo_item.test.js
  extensions/camera/tests/camera_item.test.js
  extensions/film/tests/film_item.test.js
  extensions/historical-imagery/tests/historical-imagery_collection.test.js
  extensions/historical-imagery/tests/historical-imagery_item.test.js
  extensions/linz/tests/linz_collection.test.js
  extensions/linz/tests/linz_item.test.js
  extensions/quality/tests/quality_collection.test.js
  extensions/scanning/tests/scanning_item.test.js
  extensions/template/tests/template_collection.test.js
  extensions/template/tests/template_item.test.js
  package.json
  yarn.lock
Due: eslint

fix: Adapt tests to latest ajv version
  extensions/aerial-photo/tests/aerial_photo_item.test.js
  extensions/camera/tests/camera_item.test.js
  extensions/film/tests/film_item.test.js
  extensions/historical-imagery/tests/historical-imagery_collection.test.js
  extensions/historical-imagery/tests/historical-imagery_item.test.js
  extensions/linz/tests/linz_collection.test.js
  extensions/linz/tests/linz_item.test.js
  extensions/quality/tests/quality_collection.test.js
  extensions/scanning/tests/scanning_item.test.js
  validation.js
Due: none

fix: remove unsed formats package
  package.json
  validation.js
  yarn.lock
Due: eslint

fix: add new format options into Ajv instance
  package.json
  validation.js
  yarn.lock
Due: eslint

fix: remove eo and file extensions from examples (#168)
  extensions/aerial-photo/examples/item.json
  extensions/camera/examples/item.json
  extensions/film/examples/item.json
  extensions/scanning/examples/item.json
Due: stac-node-validator, eslint

v0.0.11
  CHANGELOG.md
  package.json
Due: prettier, eslint

chore: update tag version in links to v0.0.11
  README.md
Due: prettier

feat: Use latest ajv (#166)
  extensions/aerial-photo/tests/aerial_photo_item.test.js
  extensions/camera/tests/camera_item.test.js
  extensions/film/tests/film_item.test.js
  extensions/historical-imagery/tests/historical-imagery_collection.test.js
  extensions/historical-imagery/tests/historical-imagery_item.test.js
  extensions/linz/tests/linz_collection.test.js
  extensions/linz/tests/linz_item.test.js
  extensions/quality/tests/quality_collection.test.js
  extensions/scanning/tests/scanning_item.test.js
  extensions/template/tests/template_collection.test.js
  extensions/template/tests/template_item.test.js
  package.json
  validation.js
  yarn.lock
Due: eslint

feat: Move `linz:geospatial_type` to top of collections
  extensions/linz/examples/collection.json
  extensions/linz/schema.json
  extensions/linz/tests/linz_collection.test.js
Due: stac-node-validator, eslint

feat: Make linz:geospatial_type an optional `properties` property
  extensions/linz/README.md
  extensions/linz/examples/item.json
  extensions/linz/schema.json
  extensions/linz/tests/linz_item.test.js
Due: stac-node-validator, prettier, eslint

docs: Tweak headings
  extensions/linz/README.md
Due: prettier

docs: Move summary fields into separate section
  extensions/linz/README.md
Due: prettier

docs: Put `processing:software` in the right section
  extensions/linz/README.md
Due: prettier

feat: Make `linz:geospatial_type` not empty in collection
  extensions/linz/schema.json
  extensions/linz/tests/linz_collection.test.js
Due: eslint

docs: Use "property" rather than "field"
  extensions/linz/README.md
Due: prettier

fix: Remove `linz:geospatial_type` from items
  extensions/linz/README.md
  extensions/linz/examples/item.json
  extensions/linz/schema.json
  extensions/linz/tests/linz_item.test.js
Due: stac-node-validator, prettier, eslint

feat: Make `linz:geospatial_type` a string type
  extensions/linz/README.md
  extensions/linz/examples/collection.json
  extensions/linz/schema.json
  extensions/linz/tests/linz_collection.test.js
Due: stac-node-validator, prettier, eslint

docs: Add `processing:software` example
  extensions/linz/examples/item.json
Due: stac-node-validator, eslint

docs: Add `processing:software` example (#175)
  extensions/linz/examples/item.json
Due: stac-node-validator, eslint

feat: Tweak geospatial type implementation (#172)
  extensions/linz/README.md
  extensions/linz/examples/collection.json
  extensions/linz/examples/item.json
  extensions/linz/schema.json
  extensions/linz/tests/linz_collection.test.js
  extensions/linz/tests/linz_item.test.js
Due: stac-node-validator, prettier, eslint

feat: Add new optional 'linz:update_frequency' field to the linz extension
  extensions/linz/README.md
  extensions/linz/examples/collection.json
  extensions/linz/schema.json
  extensions/linz/tests/linz_collection.test.js
Due: stac-node-validator, prettier, eslint

fix: fix README conflicts
  extensions/linz/README.md
Due: prettier

feat: Add new optional 'linz:update_frequency' field to the linz exte… (#164)
  extensions/linz/README.md
  extensions/linz/examples/collection.json
  extensions/linz/schema.json
  extensions/linz/tests/linz_collection.test.js
Due: stac-node-validator, prettier, eslint

refactor: Use conditional instead of `oneOf`
  extensions/linz/schema.json
Due: eslint

feat: Enforce that `linz:language` is a string
  extensions/linz/examples/collection.json
  extensions/linz/examples/item.json
  extensions/linz/schema.json
  extensions/linz/tests/linz_collection.test.js
Due: stac-node-validator, eslint

feat: Add asset language property
  extensions/linz/README.md
  extensions/linz/examples/collection.json
  extensions/linz/examples/item.json
  extensions/linz/schema.json
  extensions/linz/tests/linz_collection.test.js
  extensions/linz/tests/linz_item.test.js
Due: stac-node-validator, prettier, eslint

feat: Enforce that `linz:language` is an RFC 5646 language tag
  extensions/linz/examples/collection.json
  extensions/linz/examples/item.json
  extensions/linz/schema.json
  extensions/linz/tests/linz_collection.test.js
Due: stac-node-validator, eslint

feat: Add asset language property (#173)
  extensions/linz/README.md
  extensions/linz/examples/collection.json
  extensions/linz/examples/item.json
  extensions/linz/schema.json
  extensions/linz/tests/linz_collection.test.js
  extensions/linz/tests/linz_item.test.js
Due: stac-node-validator, prettier, eslint
