Repository linz/STAC: changes, and which pre-commit hooks are due for each by the changed paths.
All: stac-node-validator, prettier, eslint

.pre-commit-config.yaml:

# Configuration file for pre-commit (https://pre-commit.com/).
# Please run `pre-commit run --all-files` when adding or changing entries.

repos:
  - repo: local
    hooks:
      - id: stac-node-validator
        name: stac-node-validator
        entry: ./validate.sh
        language: system
        files: ^extensions/[^/]+/examples/.*\.json$
        stages: [commit]

      - id: prettier
        name: prettier
        entry: node_modules/.bin/prettier
        language: node
        files: ^.*\.(md|yaml)$
        stages: [commit]

      - id: eslint
        name: eslint
        entry: node_modules/.bin/eslint
        language: node
        types: [json]
        stages: [commit]

fix: linting
  extensions/historical-imagery/tests/historical-imagery_item.test.js
Due: none

fix: remove requirement for processing:software field in Historical Imagery extension TDE-343 (#220)
  extensions/historical-imagery/examples/collection.json
  extensions/historical-imagery/examples/item.json
  extensions/historical-imagery/schema.json
  extensions/historical-imagery/tests/historical-imagery_collection.test.js
  extensions/historical-imagery/tests/historical-imagery_item.test.js
Due: stac-node-validator, eslint

fix: tidy historical imagery examples
  extensions/historical-imagery/examples/collection.json
  extensions/historical-imagery/examples/item.json
Due: stac-node-validator, eslint

fix: stac_extensions ordering in historical imagery collection
  extensions/historical-imagery/examples/collection.json
Due: stac-node-validator, eslint

fix: tidy historical imagery examples TDE-338 (#222)
  extensions/historical-imagery/examples/collection.json
  extensions/historical-imagery/examples/item.json
Due: stac-node-validator, eslint

v0.0.15
  CHANGELOG.md
  package.json
Due: prettier, eslint

Update links to v0.0.15
  README.md
Due: prettier

fix: Use specific checkout action version
  .github/workflows/fields.yaml
  .github/workflows/publish.yaml
  .github/workflows/test.yaml
Due: prettier

fix: Use specific gh-pages action version
  .github/workflows/publish.yaml
Due: prettier

fix: Use specific action versions (#228)
  .github/workflows/fields.yaml
  .github/workflows/publish.yaml
  .github/workflows/test.yaml
Due: prettier

ci: reset to standard build pipeline
  .envrc
  .github/workflows/test.yaml
  .gitignore
  .kodiak.toml
  shell.nix
Due: prettier

ci: reset to standard build pipeline (#261)
  .envrc
  .github/workflows/test.yaml
  .gitignore
  .kodiak.toml
  shell.nix
Due: prettier

ci: set topo-data-engineering as the code owner
  .github/CODEOWNER
Due: none

refactor: codeowner"s" with a "s"
  .github/CODEOWNER
  .github/CODEOWNERS
Due: none

build: set topo-data-engineering as the code owner (#262)
  .github/CODEOWNERS
Due: none

chore: yarn lint
  extensions/aerial-imagery/README.md
  extensions/aerial-imagery/examples/collection.json
  extensions/aerial-imagery/examples/item.json
Due: stac-node-validator, prettier, eslint

feat: start Aerial Imagery extension
  extensions/aerial-imagery/README.md
  extensions/aerial-imagery/examples/collection.json
  extensions/aerial-imagery/examples/item.json
Due: stac-node-validator, prettier, eslint

chore: add newlines
  extensions/aerial-imagery/examples/collection.json
  extensions/aerial-imagery/examples/item.json
Due: stac-node-validator, eslint

build: use ESM for everything
  .eslintrc.cjs
  .github/workflows/test.yaml
  .prettierrc.cjs
  extensions/aerial-photo/tests/aerial_photo_collection.test.mjs
  extensions/aerial-photo/tests/aerial_photo_item.test.mjs
  extensions/camera/tests/camera_collection.test.mjs
  extensions/camera/tests/camera_item.test.mjs
  extensions/film/tests/film_collection.test.mjs
  extensions/film/tests/film_item.test.mjs
  extensions/historical-imagery/tests/historical-imagery_collection.test.mjs
  extensions/historical-imagery/tests/historical-imagery_item.test.mjs
  extensions/linz/tests/linz_collection.test.mjs
  extensions/linz/tests/linz_item.test.mjs
  extensions/quality/tests/quality_collection.test.mjs
  extensions/scanning/tests/scanning_collection.test.mjs
  extensions/scanning/tests/scanning_item.test.mjs
  extensions/template/tests/template_collection.test.mjs
  extensions/template/tests/template_item.test.mjs
  package-lock.json
  package.json
  validation.mjs
  yarn.lock
Due: prettier, eslint

refactor: remove yarn from docs
  README.md
Due: prettier

build: use ESM for everything (#263)
  .eslintrc.cjs
  .github/workflows/test.yaml
  .prettierrc.cjs
  README.md
  extensions/aerial-photo/tests/aerial_photo_collection.test.mjs
  extensions/aerial-photo/tests/aerial_photo_item.test.mjs
  extensions/camera/tests/camera_collection.test.mjs
  extensions/camera/tests/camera_item.test.mjs
  extensions/film/tests/film_collection.test.mjs
  extensions/film/tests/film_item.test.mjs
  extensions/historical-imagery/tests/historical-imagery_collection.test.mjs
  extensions/historical-imagery/tests/historical-imagery_item.test.mjs
  extensions/linz/tests/linz_collection.test.mjs
  extensions/linz/tests/linz_item.test.mjs
  extensions/quality/tests/quality_collection.test.mjs
  extensions/scanning/tests/scanning_collection.test.mjs
  extensions/scanning/tests/scanning_item.test.mjs
  extensions/template/tests/template_collection.test.mjs
  extensions/template/tests/template_item.test.mjs
  package-lock.json
  package.json
  validation.mjs
  yarn.lock
Due: prettier, eslint

feat: start Aerial Imagery extension (#260)
  extensions/aerial-imagery/README.md
  extensions/aerial-imagery/examples/collection.json
  extensions/aerial-imagery/examples/item.json
Due: stac-node-validator, prettier, eslint

feat: Pin actions to hashes TDE-934
  .github/workflows/fields.yaml
  .github/workflows/publish.yaml
  .github/workflows/test.yaml
Due: prettier

Update .github/workflows/test.yaml
  .github/workflows/test.yaml
Due: prettier

refactor: format js files
  extensions/aerial-photo/tests/aerial_photo_collection.test.mjs
  extensions/aerial-photo/tests/aerial_photo_item.test.mjs
  extensions/camera/tests/camera_collection.test.mjs
  extensions/camera/tests/camera_item.test.mjs
  extensions/film/tests/film_collection.test.mjs
  extensions/film/tests/film_item.test.mjs
  extensions/historical-imagery/tests/historical-imagery_collection.test.mjs
  extensions/historical-imagery/tests/historical-imagery_item.test.mjs
  extensions/linz/tests/linz_collection.test.mjs
  extensions/linz/tests/linz_item.test.mjs
  extensions/quality/tests/quality_collection.test.mjs
  extensions/scanning/tests/scanning_collection.test.mjs
  extensions/scanning/tests/scanning_item.test.mjs
  extensions/template/tests/template_collection.test.mjs
  extensions/template/tests/template_item.test.mjs
  validation.mjs
Due: none

fix: actually check formatting rather than fixing it silently
  package.json
Due: eslint

fix: actually check formatting rather than fixing it silently (#278)
  extensions/aerial-photo/tests/aerial_photo_collection.test.mjs
  extensions/aerial-photo/tests/aerial_photo_item.test.mjs
  extensions/camera/tests/camera_collection.test.mjs
  extensions/camera/tests/camera_item.test.mjs
  extensions/film/tests/film_collection.test.mjs
  extensions/film/tests/film_item.test.mjs
  extensions/historical-imagery/tests/historical-imagery_collection.test.mjs
  extensions/historical-imagery/tests/historical-imagery_item.test.mjs
  extensions/linz/tests/linz_collection.test.mjs
  extensions/linz/tests/linz_item.test.mjs
  extensions/quality/tests/quality_collection.test.mjs
  extensions/scanning/tests/scanning_collection.test.mjs
  extensions/scanning/tests/scanning_item.test.mjs
  extensions/template/tests/template_collection.test.mjs
  extensions/template/tests/template_item.test.mjs
  package.json
  validation.mjs
Due: eslint

fix: Point to renamed `validation.mjs` file
  extensions/camera/tests/camera_collection.test.mjs
  extensions/camera/tests/camera_item.test.mjs
  extensions/film/tests/film_collection.test.mjs
  extensions/film/tests/film_item.test.mjs
  extensions/historical-imagery/tests/historical-imagery_collection.test.mjs
  extensions/historical-imagery/tests/historical-imagery_item.test.mjs
  extensions/linz/tests/linz_collection.test.mjs
  extensions/linz/tests/linz_item.test.mjs
  extensions/quality/tests/quality_collection.test.mjs
  extensions/scanning/tests/scanning_collection.test.mjs
  extensions/scanning/tests/scanning_item.test.mjs
  extensions/template/tests/template_collection.test.mjs
  extensions/template/tests/template_item.test.mjs
Due: none

fix: Run ospec tests
  package.json
Due: eslint

fix: run ospec tests (#279)
  extensions/camera/tests/camera_collection.test.mjs
  extensions/camera/tests/camera_item.test.mjs
  extensions/film/tests/film_collection.test.mjs
  extensions/film/tests/film_item.test.mjs
  extensions/historical-imagery/tests/historical-imagery_collection.test.mjs
  extensions/historical-imagery/tests/historical-imagery_item.test.mjs
  extensions/linz/tests/linz_collection.test.mjs
  extensions/linz/tests/linz_item.test.mjs
  extensions/quality/tests/quality_collection.test.mjs
  extensions/scanning/tests/scanning_collection.test.mjs
  extensions/scanning/tests/scanning_item.test.mjs
  extensions/template/tests/template_collection.test.mjs
  extensions/template/tests/template_item.test.mjs
  package.json
Due: eslint

test: Provide stronger missing provider tests
  extensions/historical-imagery/tests/historical-imagery_collection.test.mjs
Due: none

test: Provide stronger missing provider tests (#280)
  extensions/historical-imagery/tests/historical-imagery_collection.test.mjs
Due: none

feat: Pin actions to hashes TDE-934 (#273)
  .github/workflows/fields.yaml
  .github/workflows/publish.yaml
  .github/workflows/test.yaml
Due: prettier

Revert "feat: fields.json (#197)"
  .github/workflows/fields.yaml
  fields/custom-fields.json
  fields/fields.json
  fields/import-fields-json.js
Due: prettier, eslint

Revert "feat: fields.json (#197)" (#282)
  .github/workflows/fields.yaml
  fields/custom-fields.json
  fields/fields.json
  fields/import-fields-json.js
Due: prettier, eslint

feat: Add new optional `linz:region` collection property
  extensions/linz/README.md
  extensions/linz/examples/collection.json
  extensions/linz/schema.json
  extensions/linz/tests/linz_collection.test.mjs
Due: stac-node-validator, prettier, eslint

feat: Add new optional `linz:geographic_description` collection property
  extensions/linz/README.md
  extensions/linz/examples/collection.json
  extensions/linz/schema.json
  extensions/linz/tests/linz_collection.test.mjs
Due: stac-node-validator, prettier, eslint

feat: Add new optional `linz:event_name` collection property
  extensions/linz/README.md
  extensions/linz/examples/collection.json
  extensions/linz/schema.json
  extensions/linz/tests/linz_collection.test.mjs
Due: stac-node-validator, prettier, eslint

build: Bump Node.js to latest LTS, 20.13.1
  .github/workflows/test.yaml
  package-lock.json
  package.json
Due: prettier, eslint
