Repository linz/STAC: changes, and which pre-commit hooks are due for each by the changed paths.
All: stac-node-validator, prettier, eslint

stac-node-validator:
  name: stac-node-validator
  entry: ./validate.sh
  language: system
  stages:
  - commit

prettier:
  name: prettier
  entry: node_modules/.bin/prettier
  language: node
  stages:
  - commit

eslint:
  name: eslint
  entry: node_modules/.bin/eslint
  language: node
  stages:
  - commit

feat: add ospec unit testing framework example
  .github/workflows/test.yaml
  README.md
  extensions/camera/non-examples/item.json
  extensions/camera/tests/camera.test.js
  package.json
  yarn.lock
Due: prettier, eslint

feat: add ospec unit testing framework example2
  extensions/camera/tests/camera.test.js
Due: none

fix: correct linting
  .eslintrc.cjs
  extensions/camera/tests/camera.test.js
Due: none

refactor: lint is already run in composite action
  .github/workflows/test.yaml
Due: prettier

docs: fix quality readme
  extensions/quality/README.md
Due: prettier

feat: unit testing with ospec (#76)
  .eslintrc.cjs
  README.md
  extensions/camera/non-examples/item.json
  extensions/camera/tests/camera.test.js
  package.json
  yarn.lock
Due: prettier, eslint

revert: reinstate stac_extensions schema definitions (#65)
  extensions/camera/schema.json
  extensions/linz/schema.json
  extensions/quality/schema.json
  extensions/template/schema.json
Due: eslint

feat: Add direnv support
  .envrc
Due: none

feat: Build Nix shell in pipeline
  .github/workflows/test.yaml
Due: prettier

feat: Cache Nix derivations
  .github/workflows/test.yaml
Due: prettier

feat: Support Nix
  shell.nix
Due: none

feat: Support Nix (#67)
  .envrc
  .github/workflows/test.yaml
  shell.nix
Due: prettier

v0.0.7
  CHANGELOG.md
  package.json
Due: prettier, eslint

docs: Mention how to push branch and tag at the same time
  README.md
Due: prettier

Create CNAME
  CNAME
Due: none

Delete CNAME
  CNAME
Due: none

feat: added ability to load schemas from url at compile time
  extensions/camera/tests/camera.test.js
  extensions/linz/tests/linz_collection.test.js
  extensions/validation.js
Due: none

fix: WIP changes
  extensions/camera/tests/camera.test.js
  extensions/historical_imagery/schema.json
  extensions/linz/tests/linz_collection.test.js
  extensions/validation.js
Due: eslint

fix: refactor tests
  extensions/camera/tests/camera.test.js
  extensions/linz/tests/linz_collection.test.js
  extensions/validation.js
Due: none

fix: cache schemas from online
  extensions/validation.js
Due: none

docs: Mention how to push branch and tag at the same time (#80)
  README.md
Due: prettier

Add more info to README
  extensions/linz/README.md
Due: prettier

fix: removed unnecessary schema and console logging
  extensions/historical_imagery/schema.json
  extensions/validation.js
Due: eslint

fix: linting
  extensions/validation.js
Due: none

feat: added ability to load schemas from url at compile time (#82)
  extensions/camera/tests/camera.test.js
  extensions/linz/tests/linz_collection.test.js
  extensions/validation.js
Due: none

Add more info to README (#83)
  extensions/linz/README.md
Due: prettier

fix: rename and update historical-imagery extension and readme TDE-167
  README.md
  extensions/historical-imagery/README.md
  extensions/historical_imagery/README.md
Due: prettier

fix: typo in link to scanning extension
  extensions/historical-imagery/README.md
Due: prettier

fix: readme formatting
  extensions/historical-imagery/README.md
Due: prettier

fix: removed old historical_imagery directory
  extensions/historical_imagery/README.md
Due: prettier

fix: rename to historical-imagery and update readme TDE-167 (#84)
  README.md
  extensions/historical-imagery/README.md
Due: prettier

fix: Make quality `stac_extensions` entry mandatory
  extensions/linz/examples/collection.json
  extensions/linz/non-examples/additional_linz_property.json
  extensions/linz/non-examples/additional_quality_property.json
  extensions/linz/non-examples/incorrect_providers.json
  extensions/linz/non-examples/no_lifecycle.json
  extensions/linz/non-examples/no_linz_created.json
  extensions/linz/non-examples/no_linz_security_classification.json
  extensions/linz/non-examples/no_linz_updated.json
  extensions/linz/non-examples/no_projection_espg_code.json
  extensions/linz/non-examples/no_providers.json
  extensions/linz/non-examples/no_title.json
  extensions/linz/non-examples/no_version_property.json
  extensions/quality/schema.json
Due: stac-node-validator, eslint

fix: Make quality `stac_extensions` entry mandatory (#88)
  extensions/linz/examples/collection.json
  extensions/linz/non-examples/additional_linz_property.json
  extensions/linz/non-examples/additional_quality_property.json
  extensions/linz/non-examples/incorrect_providers.json
  extensions/linz/non-examples/no_lifecycle.json
  extensions/linz/non-examples/no_linz_created.json
  extensions/linz/non-examples/no_linz_security_classification.json
  extensions/linz/non-examples/no_linz_updated.json
  extensions/linz/non-examples/no_projection_espg_code.json
  extensions/linz/non-examples/no_providers.json
  extensions/linz/non-examples/no_title.json
  extensions/linz/non-examples/no_version_property.json
  extensions/quality/schema.json
Due: stac-node-validator, eslint

refactor: Sort extension URLs
  extensions/linz/examples/collection.json
Due: stac-node-validator, eslint

fix: Include real projection extension fields
  extensions/linz/examples/collection.json
  extensions/linz/non-examples/additional_linz_property.json
  extensions/linz/non-examples/additional_quality_property.json
  extensions/linz/non-examples/incorrect_providers.json
  extensions/linz/non-examples/invalid_projection_espg_code.json
  extensions/linz/non-examples/no_lifecycle.json
  extensions/linz/non-examples/no_linz_created.json
  extensions/linz/non-examples/no_linz_security_classification.json
  extensions/linz/non-examples/no_linz_updated.json
  extensions/linz/non-examples/no_providers.json
  extensions/linz/non-examples/no_title.json
  extensions/linz/non-examples/no_version_property.json
Due: stac-node-validator, eslint

refactor: Sync non-examples with example
  extensions/linz/non-examples/additional_linz_property.json
  extensions/linz/non-examples/additional_quality_property.json
  extensions/linz/non-examples/no_linz_created.json
  extensions/linz/non-examples/no_linz_security_classification.json
  extensions/linz/non-examples/no_linz_updated.json
  extensions/linz/non-examples/no_title.json
  extensions/linz/non-examples/no_version_property.json
Due: eslint

refactor: Move invalid content to the bottom
  extensions/linz/non-examples/additional_linz_property.json
  extensions/linz/non-examples/additional_quality_property.json
Due: eslint

feat: Added new item schema to linz specification and new mandatory field geospatial_type
  extensions/linz/README.md
  extensions/linz/examples/item.json
  extensions/linz/schema.json
  extensions/linz/tests/linz_item.test.js
Due: stac-node-validator, prettier, eslint

fix: update readme table
  extensions/linz/README.md
Due: prettier

Path conditions:
  stac-node-validator: any of: ^extensions/[^/]+/examples/.*\.json$
  prettier: any of: ^.*\.(md|yaml)$
  eslint: any of: \.json$
