Repository linz/STAC: changes, and which pre-commit hooks are due for each by the changed paths.
All: stac-node-validator, prettier, eslint

stac-node-validator:
  name: stac-node-validator
  entry: ./validate.sh
  language: system
  stages:
  - commit

prettier:
  name: prettier
  entry: node_modules/.bin/prettier
  language: node
  stages:
  - commit

eslint:
  name: eslint
  entry: node_modules/.bin/eslint
  language: node
  stages:
  - commit

refactor: Use conditional instead of `oneOf` (#177)
  extensions/linz/schema.json
Due: eslint

fix: Make `linz:language` optional
  extensions/linz/README.md
  extensions/linz/schema.json
  extensions/linz/tests/linz_collection.test.js
  extensions/linz/tests/linz_item.test.js
Due: prettier, eslint

docs: add missing extension to linz extension README
  extensions/linz/README.md
Due: prettier

docs: order extension list alphabetically
  extensions/linz/README.md
Due: prettier

fix: Make `linz:language` optional (#180)
  extensions/linz/README.md
  extensions/linz/schema.json
  extensions/linz/tests/linz_collection.test.js
  extensions/linz/tests/linz_item.test.js
Due: prettier, eslint

docs: remove redundant metadata path info
  extensions/linz/README.md
Due: prettier

docs: add missing extension to linz extension README (#182)
  extensions/linz/README.md
Due: prettier

feat: Require 'linz:asset_summaries' root property
  extensions/linz/examples/collection.json
  extensions/linz/schema.json
  extensions/linz/tests/linz_collection.test.js
Due: stac-node-validator, eslint

feat: Require asset summary 'created' propert
  extensions/linz/examples/collection.json
  extensions/linz/schema.json
  extensions/linz/tests/linz_collection.test.js
Due: stac-node-validator, eslint

feat: require asset summary created 'minimum' property
  extensions/linz/examples/collection.json
  extensions/linz/schema.json
  extensions/linz/tests/linz_collection.test.js
Due: stac-node-validator, eslint

feat: require asset summary created minimum property be a string
  extensions/linz/examples/collection.json
  extensions/linz/schema.json
  extensions/linz/tests/linz_collection.test.js
Due: stac-node-validator, eslint

feat: require asset summary created minimum property be a datetime
  extensions/linz/schema.json
  extensions/linz/tests/linz_collection.test.js
Due: eslint

feat: require asset summary created minimum property be a UTC datetime
  extensions/linz/schema.json
  extensions/linz/tests/linz_collection.test.js
Due: eslint

refactor: Pull out UTC datetime definition
  extensions/linz/schema.json
Due: eslint

docs: Set asset/metadata summary created/updated titles
  extensions/linz/schema.json
Due: eslint

feat: require asset summary created 'maximum' property
  extensions/linz/examples/collection.json
  extensions/linz/schema.json
  extensions/linz/tests/linz_collection.test.js
Due: stac-node-validator, eslint

feat: require asset summary 'updated' property
  extensions/linz/examples/collection.json
  extensions/linz/schema.json
  extensions/linz/tests/linz_collection.test.js
Due: stac-node-validator, eslint

feat: require asset summary created maximum property be a UTC datetime
  extensions/linz/examples/collection.json
  extensions/linz/schema.json
  extensions/linz/tests/linz_collection.test.js
Due: stac-node-validator, eslint

feat: require asset summary updated 'minimum' property
  extensions/linz/examples/collection.json
  extensions/linz/schema.json
  extensions/linz/tests/linz_collection.test.js
Due: stac-node-validator, eslint

feat: require asset summary updated minimum property be a UTC datetime
  extensions/linz/examples/collection.json
  extensions/linz/schema.json
  extensions/linz/tests/linz_collection.test.js
Due: stac-node-validator, eslint

feat: require asset summary updated 'maximum' property
  extensions/linz/examples/collection.json
  extensions/linz/schema.json
  extensions/linz/tests/linz_collection.test.js
Due: stac-node-validator, eslint

feat: require asset summary updated maximum property be a UTC datetime
  extensions/linz/examples/collection.json
  extensions/linz/schema.json
  extensions/linz/tests/linz_collection.test.js
Due: stac-node-validator, eslint

docs: remove redundant metadata path info (#185)
  extensions/linz/README.md
Due: prettier

docs: Move asset summary documentation to right property
  extensions/linz/README.md
Due: prettier

feat(scanning): add scanning summaries
  extensions/scanning/schema.json
Due: eslint

feat(camera): add camera summaries
  extensions/camera/schema.json
Due: eslint

feat(film): add film summaries
  extensions/film/examples/collection.json
  extensions/film/schema.json
  extensions/film/tests/film_collection.test.js
Due: stac-node-validator, eslint

feat(aerial-photo): add aerial photography summaries
  extensions/aerial-photo/schema.json
  extensions/aerial-photo/tests/aerial_photo_collection.test.js
Due: eslint

feat(historical-imagery): add historical imagery summaries
  extensions/historical-imagery/examples/collection.json
  extensions/historical-imagery/schema.json
  extensions/historical-imagery/tests/historical-imagery_collection.test.js
Due: stac-node-validator, eslint

feat: add summaries to historical imagery related extensions (#176)
  extensions/aerial-photo/schema.json
  extensions/aerial-photo/tests/aerial_photo_collection.test.js
  extensions/camera/schema.json
  extensions/film/examples/collection.json
  extensions/film/schema.json
  extensions/film/tests/film_collection.test.js
  extensions/historical-imagery/examples/collection.json
  extensions/historical-imagery/schema.json
  extensions/historical-imagery/tests/historical-imagery_collection.test.js
  extensions/scanning/schema.json
Due: stac-node-validator, eslint

feat: Create asset summaries (#157)
  extensions/linz/README.md
  extensions/linz/examples/collection.json
  extensions/linz/schema.json
  extensions/linz/tests/linz_collection.test.js
Due: stac-node-validator, prettier, eslint

feat: Make summary `updated` and `created` optional
  extensions/linz/schema.json
  extensions/linz/tests/linz_collection.test.js
Due: eslint

docs: Remove accidental duplicate
  extensions/linz/README.md
Due: prettier

feat: Make summary `updated` and `created` optional (#187)
  extensions/linz/schema.json
  extensions/linz/tests/linz_collection.test.js
Due: eslint

docs: Remove accidental duplicate (#186)
  extensions/linz/README.md
Due: prettier

feat: add IR linz geospatial types
  extensions/linz/README.md
  extensions/linz/schema.json
Due: prettier, eslint

feat: add IR linz:geospatial_types (#188)
  extensions/linz/README.md
  extensions/linz/schema.json
Due: prettier, eslint

Revert "feat: Demonstrate asset datetime summary investigation"
  extensions/linz/notebooks/asset-datetime-summary.ipynb
Due: none

fix: Enforce `mission` minimum items
  extensions/historical-imagery/schema.json
  extensions/historical-imagery/tests/historical-imagery_collection.test.js
Due: eslint

Path conditions:
  stac-node-validator: any of: ^extensions/[^/]+/examples/.*\.json$
  prettier: any of: ^.*\.(md|yaml)$
  eslint: any of: \.json$
