Repository linz/STAC: changes, and which pre-commit hooks are due for each by the changed paths.
All: stac-node-validator, prettier, eslint

stac-node-validator:
  name: stac-node-validator
  entry: ./validate.sh
  language: system
  stages:
  - commit

prettier:
  name: prettier
  entry: node_modules/.bin/prettier
  language: node
  stages:
  - commit

eslint:
  name: eslint
  entry: node_modules/.bin/eslint
  language: node
  stages:
  - commit

docs: Document how to run tests (#63)
  README.md
  extensions/linz/README.md
  extensions/template/README.md
Due: prettier

feat: Add key LINZ extension properties (#61)
  extensions/linz/README.md
  extensions/linz/non-examples/additional_linz_property.json
  extensions/linz/non-examples/additional_quality_property.json
  extensions/linz/non-examples/no_linz_created.json
  extensions/linz/non-examples/no_linz_security_classification.json
  extensions/linz/non-examples/no_linz_updated.json
  extensions/linz/non-examples/no_title.json
  extensions/linz/non-examples/no_version_property.json
  extensions/linz/schema.json
Due: prettier, eslint

feat: Create aerial photography extension
  README.md
  extensions/aerial_photo/README.md
  extensions/aerial_photo/examples/item.json
  extensions/aerial_photo/schema.json
  validate.sh
Due: stac-node-validator, prettier, eslint

fix: add non-conformant STAC examples
  extensions/film/non-examples/film_id_integer.json
  extensions/film/non-examples/negative_sequence_string copy.json
  extensions/film/non-examples/no_film_id.json
  extensions/film/non-examples/no_negative_sequence.json
Due: eslint

fix: required field format
  extensions/film/schema.json
Due: eslint

fix: required field format
  extensions/aerial_photo/schema.json
Due: eslint

fix: renamed non-example filename
  extensions/film/non-examples/negative_sequence_string.json
Due: eslint

fix: add non-examples
  extensions/aerial_photo/non-examples/no_run.json
  extensions/aerial_photo/non-examples/no_sequence_number.json
  extensions/aerial_photo/non-examples/run_integer.json
  extensions/aerial_photo/non-examples/sequence_number_string.json
Due: eslint

feat: Create film extension (#60)
  README.md
  extensions/film/README.md
  extensions/film/examples/item.json
  extensions/film/non-examples/film_id_integer.json
  extensions/film/non-examples/negative_sequence_string.json
  extensions/film/non-examples/no_film_id.json
  extensions/film/non-examples/no_negative_sequence.json
  extensions/film/schema.json
  validate.sh
Due: stac-node-validator, prettier, eslint

revert: reinstate stac_extensions schema definitions
  extensions/camera/schema.json
  extensions/linz/schema.json
  extensions/quality/schema.json
  extensions/template/schema.json
Due: eslint

fix: change name from aerial_photo to aerial-photo
  README.md
  extensions/aerial-photo/README.md
  extensions/aerial-photo/examples/item.json
  extensions/aerial-photo/non-examples/no_run.json
  extensions/aerial-photo/non-examples/no_sequence_number.json
  extensions/aerial-photo/non-examples/run_integer.json
  extensions/aerial-photo/non-examples/sequence_number_string.json
  extensions/aerial-photo/schema.json
  extensions/aerial_photo/README.md
  validate.sh
Due: stac-node-validator, prettier, eslint

fix: change README.md title to Aerial Photography
  extensions/aerial-photo/README.md
Due: prettier

feat: Create aerial photography extension (#66)
  README.md
  extensions/aerial-photo/README.md
  extensions/aerial-photo/examples/item.json
  extensions/aerial-photo/non-examples/no_run.json
  extensions/aerial-photo/non-examples/no_sequence_number.json
  extensions/aerial-photo/non-examples/run_integer.json
  extensions/aerial-photo/non-examples/sequence_number_string.json
  extensions/aerial-photo/schema.json
  validate.sh
Due: stac-node-validator, prettier, eslint

v0.1.0
  CHANGELOG.md
  package.json
Due: prettier, eslint

v0.0.5
  CHANGELOG.md
  package.json
Due: prettier, eslint

fix: changelog
  CHANGELOG.md
Due: prettier

feat: Add issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: prettier

feat: Auto-format templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: prettier

docs: Set default issue template title and labels
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: prettier

docs: Remove irrelevant sections
  .github/ISSUE_TEMPLATE/bug_report.md
Due: prettier

feat: Add new providers, lifecycle and lineage fields to linz and quality extensions
  extensions/linz/README.md
  extensions/linz/schema.json
  extensions/quality/README.md
  extensions/quality/schema.json
Due: prettier, eslint

docs: Use placeholders for text to be removed
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: prettier

docs: Add section for actual behaviour
  .github/ISSUE_TEMPLATE/bug_report.md
Due: prettier

revert: remove failed versions
  CHANGELOG.md
  package.json
Due: prettier, eslint

feat: update examples and non-examples with new fields
  extensions/linz/examples/collection.json
  extensions/linz/non-examples/additional_linz_property.json
  extensions/linz/non-examples/additional_quality_property.json
  extensions/linz/non-examples/incorrect_providers.json
  extensions/linz/non-examples/no_lifecycle.json
  extensions/linz/non-examples/no_linz_created.json
  extensions/linz/non-examples/no_linz_security_classification.json
  extensions/linz/non-examples/no_providers.json
  extensions/linz/non-examples/no_title.json
  extensions/linz/non-examples/no_version_property.json
  extensions/linz/schema.json
  extensions/quality/non-examples/incorrect_accuracy_type.json
  extensions/quality/non-examples/incorrect_description.json
  extensions/quality/non-examples/missing_lineage_description.json
Due: stac-node-validator, eslint

feat: update the description of nonconformant examples
  extensions/linz/non-examples/incorrect_providers.json
  extensions/linz/non-examples/no_lifecycle.json
  extensions/linz/non-examples/no_providers.json
Due: eslint

fix: alphabetize required list
  extensions/linz/schema.json
Due: eslint

feat: Add new providers, lifecycle and lineage fields to linz ext (#69)
  extensions/linz/README.md
  extensions/linz/examples/collection.json
  extensions/linz/non-examples/additional_linz_property.json
  extensions/linz/non-examples/additional_quality_property.json
  extensions/linz/non-examples/incorrect_providers.json
  extensions/linz/non-examples/no_lifecycle.json
  extensions/linz/non-examples/no_linz_created.json
  extensions/linz/non-examples/no_linz_security_classification.json
  extensions/linz/non-examples/no_providers.json
  extensions/linz/non-examples/no_title.json
  extensions/linz/non-examples/no_version_property.json
  extensions/linz/schema.json
  extensions/quality/README.md
  extensions/quality/non-examples/incorrect_accuracy_type.json
  extensions/quality/non-examples/incorrect_description.json
  extensions/quality/non-examples/missing_lineage_description.json
  extensions/quality/schema.json
Due: stac-node-validator, prettier, eslint

0.0.6
  CHANGELOG.md
  package.json
Due: prettier, eslint

feat: make projection extension mandatory in linz extension
  extensions/linz/README.md
  extensions/linz/examples/collection.json
  extensions/linz/non-examples/additional_linz_property.json
  extensions/linz/non-examples/additional_quality_property.json
  extensions/linz/non-examples/incorrect_providers.json
  extensions/linz/non-examples/no_linz_created.json
  extensions/linz/non-examples/no_linz_security_classification.json
  extensions/linz/non-examples/no_linz_updated.json
  extensions/linz/non-examples/no_projection_espg_code.json
  extensions/linz/non-examples/no_providers.json
  extensions/linz/non-examples/no_title.json
  extensions/linz/non-examples/no_version_property.json
  extensions/linz/schema.json
Due: stac-node-validator, prettier, eslint

feat: added example metadata from projection repo
  extensions/linz/examples/collection.json
Due: stac-node-validator, eslint

feat: make projection extension mandatory (#70)
  extensions/linz/README.md
  extensions/linz/examples/collection.json
  extensions/linz/non-examples/additional_linz_property.json
  extensions/linz/non-examples/additional_quality_property.json
  extensions/linz/non-examples/incorrect_providers.json
  extensions/linz/non-examples/no_linz_created.json
  extensions/linz/non-examples/no_linz_security_classification.json
  extensions/linz/non-examples/no_linz_updated.json
  extensions/linz/non-examples/no_projection_espg_code.json
  extensions/linz/non-examples/no_providers.json
  extensions/linz/non-examples/no_title.json
  extensions/linz/non-examples/no_version_property.json
  extensions/linz/schema.json
Due: stac-node-validator, prettier, eslint

chore: Remove pre-commit support
  .github/dependabot.yml
  .pre-commit-config.yaml
  README.md
  poetry.lock
  poetry.toml
  pyproject.toml
Due: prettier

feat: Lint in pipeline
  .github/workflows/test.yaml
Due: prettier

fix: Use "test" job name for clarity
  .github/workflows/test.yaml
Due: prettier

feat: Add issue templates (#68)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: prettier

chore: Remove pre-commit support (#71)
  .github/dependabot.yml
  .pre-commit-config.yaml
  README.md
  poetry.lock
  poetry.toml
  pyproject.toml
Due: prettier

Path conditions:
  stac-node-validator: any of: ^extensions/[^/]+/examples/.*\.json$
  prettier: any of: ^.*\.(md|yaml)$
  eslint: any of: \.json$
