Repository linz/STAC: changes, and which pre-commit hooks are due for each by the changed paths.
All: stac-node-validator, prettier, eslint

.pre-commit-config.yaml:

# Configuration file for pre-commit (https://pre-commit.com/).
# Please run `pre-commit run --all-files` when adding or changing entries.

repos:
  - repo: local
    hooks:
      - id: stac-node-validator
        name: stac-node-validator
        entry: ./validate.sh
        language: system
        files: ^extensions/[^/]+/examples/.*\.json$
        stages: [commit]

      - id: prettier
        name: prettier
        entry: node_modules/.bin/prettier
        language: node
        files: ^.*\.(md|yaml)$
        stages: [commit]

      - id: eslint
        name: eslint
        entry: node_modules/.bin/eslint
        language: node
        types: [json]
        stages: [commit]

docs: Document provider objects in more detail
  extensions/linz/README.md
Due: prettier

feat: Make `file:checksum` asset property required
  extensions/linz/README.md
  extensions/linz/examples/collection.json
  extensions/linz/examples/item.json
  extensions/linz/schema.json
  extensions/linz/tests/linz_item.test.js
Due: stac-node-validator, prettier, eslint

docs: Document provider objects in more detail (#115)
  extensions/linz/README.md
Due: prettier

feat: Make `file:checksum` asset property required (#117)
  extensions/linz/README.md
  extensions/linz/examples/collection.json
  extensions/linz/examples/item.json
  extensions/linz/schema.json
  extensions/linz/tests/linz_item.test.js
Due: stac-node-validator, prettier, eslint

v0.0.9
  CHANGELOG.md
  package.json
Due: prettier, eslint

deploy: e46e24563c166ac83886ce26b61b1633826a77dc
  v0.0.9/aerial-photo/README.md
  v0.0.9/aerial-photo/examples/item.json
  v0.0.9/aerial-photo/schema.json
  v0.0.9/aerial-photo/tests/aerial_photo_item.test.js
  v0.0.9/camera/README.md
  v0.0.9/camera/examples/item.json
  v0.0.9/camera/schema.json
  v0.0.9/camera/tests/camera.test.js
  v0.0.9/film/README.md
  v0.0.9/film/examples/item.json
  v0.0.9/film/schema.json
  v0.0.9/film/tests/film.test.js
  v0.0.9/historical-imagery/README.md
  v0.0.9/linz/CHANGELOG.md
  v0.0.9/linz/README.md
  v0.0.9/linz/examples/collection.json
  v0.0.9/linz/examples/item.json
  v0.0.9/linz/schema.json
  v0.0.9/linz/tests/linz_collection.test.js
  v0.0.9/linz/tests/linz_item.test.js
  v0.0.9/quality/CHANGELOG.md
  v0.0.9/quality/README.md
  v0.0.9/quality/examples/collection.json
  v0.0.9/quality/schema.json
  v0.0.9/quality/tests/quality_collection.test.js
  v0.0.9/scanning/README.md
  v0.0.9/scanning/examples/item.json
  v0.0.9/scanning/schema.json
  v0.0.9/template/CHANGELOG.md
  v0.0.9/template/README.md
  v0.0.9/template/examples/collection.json
  v0.0.9/template/examples/item.json
  v0.0.9/template/schema.json
  v0.0.9/template/tests/template_collection.test.js
  v0.0.9/template/tests/template_item.test.js
  v0.0.9/validation.js
Due: prettier, eslint

refactor: Sort type-specific schemas
  extensions/linz/schema.json
  extensions/linz/tests/linz_item.test.js
Due: eslint

refactor: Sort type-specific schemas (#118)
  extensions/linz/schema.json
  extensions/linz/tests/linz_item.test.js
Due: eslint

docs: fix aerial-photo schema.json URL in README
  extensions/aerial-photo/README.md
Due: prettier

docs: fix aerial-photo schema.json URL in README (#122)
  extensions/aerial-photo/README.md
Due: prettier

feat: enable jekyll for linz style
  .github/workflows/publish.yaml
Due: prettier

feat: enable jekyll and base readme.md
  .nojekyll
  README.md
  index.html
Due: prettier

feat: default to linz jekyll theme
  _config.yml
Due: none

fix: correct links
  README.md
Due: prettier

feat: import license from master
  LICENSE.md
Due: prettier

fix: correct license link
  LICENSE
Due: none

feat: move to stac.linz.govt.nz for the schemas
  extensions/aerial-photo/README.md
  extensions/camera/README.md
  extensions/film/README.md
  extensions/linz/README.md
  extensions/quality/README.md
  extensions/scanning/README.md
  extensions/template/README.md
Due: prettier

chore: Remove unnecessary line
  validate.sh
Due: none

refactor: fixup lint issues
  extensions/quality/README.md
  extensions/scanning/README.md
Due: prettier

chore: Remove unnecessary line (#125)
  validate.sh
Due: none

feat: move to stac.linz.govt.nz for the schemas (#124)
  extensions/aerial-photo/README.md
  extensions/camera/README.md
  extensions/film/README.md
  extensions/linz/README.md
  extensions/quality/README.md
  extensions/scanning/README.md
  extensions/template/README.md
Due: prettier

feat: enable jekyll for linz style (#123)
  .github/workflows/publish.yaml
Due: prettier

fix: update template schema to latest
  extensions/template/schema.json
  extensions/template/tests/template_collection.test.js
Due: eslint

fix: update template schema to latest (#126)
  extensions/template/schema.json
  extensions/template/tests/template_collection.test.js
Due: eslint

feat: Refer to example files recursively
  validate.sh
Due: none

refactor: Refer to extensions directory explicitly
  extensions/aerial-photo/README.md
  extensions/aerial-photo/examples/item.json
  extensions/aerial-photo/schema.json
  extensions/camera/README.md
  extensions/camera/examples/item.json
  extensions/camera/schema.json
  extensions/film/README.md
  extensions/film/examples/item.json
  extensions/film/schema.json
  extensions/linz/README.md
  extensions/linz/examples/collection.json
  extensions/linz/examples/item.json
  extensions/linz/schema.json
  extensions/quality/README.md
  extensions/quality/examples/collection.json
  extensions/quality/schema.json
  extensions/scanning/README.md
  extensions/scanning/examples/item.json
  extensions/scanning/schema.json
  extensions/template/README.md
  extensions/template/examples/collection.json
  extensions/template/examples/item.json
  extensions/template/schema.json
  extensions/validation.js
  validate.sh
Due: stac-node-validator, prettier, eslint

feat: Support Catalog in LINZ schema
  extensions/aerial-photo/tests/aerial_photo_item.test.js
  extensions/film/tests/film.test.js
  extensions/linz/schema.json
  extensions/linz/tests/linz_collection.test.js
  extensions/linz/tests/linz_item.test.js
  extensions/quality/schema.json
  extensions/quality/tests/quality_collection.test.js
  extensions/template/tests/template_item.test.js
  schemas/linz/CHANGELOG.md
  schemas/linz/README.md
  schemas/linz/examples/catalog.json
  schemas/linz/examples/collection.json
  schemas/linz/examples/item.json
  schemas/linz/schema.json
  schemas/linz/tests/linz_catalog.test.js
  schemas/linz/tests/linz_collection.test.js
  schemas/linz/tests/linz_item.test.js
  validate.sh
  validation.js
Due: prettier, eslint

refactor: Move validation.js up
  extensions/aerial-photo/tests/aerial_photo_item.test.js
  extensions/camera/tests/camera.test.js
  extensions/film/tests/film.test.js
  extensions/linz/tests/linz_collection.test.js
  extensions/linz/tests/linz_item.test.js
  extensions/quality/tests/quality_collection.test.js
  extensions/template/tests/template_collection.test.js
  extensions/template/tests/template_item.test.js
  validation.js
Due: none

refactor: Enforce LINZ STAC type value
  extensions/linz/schema.json
Due: eslint

refactor: Enforce LINZ STAC type value (#131)
  extensions/linz/schema.json
Due: eslint

fix: linz readme bullet point formatting
  extensions/linz/README.md
Due: prettier

feat: create historical imagery schema
  extensions/historical-imagery/README.md
  extensions/historical-imagery/examples/collection.json
  extensions/historical-imagery/examples/item.json
  extensions/historical-imagery/schema.json
  extensions/historical-imagery/tests/historical-imagery.test.js
Due: stac-node-validator, prettier, eslint

fix: linz readme bullet point formatting (#132)
  extensions/linz/README.md
Due: prettier

feat: historical-imagery extension WIP
  extensions/historical-imagery/examples/collection.json
  extensions/historical-imagery/examples/item.json
  extensions/historical-imagery/schema.json
  extensions/historical-imagery/tests/historical-imagery.test.js
  extensions/historical-imagery/tests/historical-imagery_collection.test.js
  extensions/historical-imagery/tests/historical-imagery_item.test.js
Due: stac-node-validator, eslint

fix: item schema with stac_extensions array
  extensions/historical-imagery/examples/collection.json
  extensions/historical-imagery/examples/item.json
  extensions/historical-imagery/schema.json
  extensions/historical-imagery/tests/historical-imagery_collection.test.js
  extensions/historical-imagery/tests/historical-imagery_item.test.js
  validate.sh
Due: stac-node-validator, eslint

added tests
  extensions/historical-imagery/schema.json
  extensions/historical-imagery/tests/historical-imagery_item.test.js
Due: eslint

add collection
  extensions/historical-imagery/examples/collection.json
  extensions/historical-imagery/examples/item.json
  extensions/historical-imagery/schema.json
  extensions/historical-imagery/tests/historical-imagery_collection.test.js
  extensions/historical-imagery/tests/historical-imagery_item.test.js
Due: stac-node-validator, eslint

fix: remove unneccessary schema fields
  extensions/historical-imagery/schema.json
Due: eslint

refactor: Move validation.js up (#130)
  extensions/aerial-photo/tests/aerial_photo_item.test.js
  extensions/camera/tests/camera.test.js
  extensions/film/tests/film.test.js
  extensions/linz/tests/linz_collection.test.js
  extensions/linz/tests/linz_item.test.js
  extensions/quality/tests/quality_collection.test.js
  extensions/template/tests/template_collection.test.js
  extensions/template/tests/template_item.test.js
  validation.js
Due: none
