Repository linz/STAC: changes, and which pre-commit hooks are due for each by the changed paths.
All: stac-node-validator, prettier, eslint

stac-node-validator:
  name: stac-node-validator
  entry: ./validate.sh
  language: system
  stages:
  - commit

prettier:
  name: prettier
  entry: node_modules/.bin/prettier
  language: node
  stages:
  - commit

eslint:
  name: eslint
  entry: node_modules/.bin/eslint
  language: node
  stages:
  - commit

build: Bump Node.js to latest LTS, 20.13.1 TDE-1090 (#297)
  .github/workflows/test.yaml
  package-lock.json
  package.json
Due: prettier, eslint

feat: Add new optional `linz:region` collection property
  extensions/linz/README.md
  extensions/linz/examples/collection.json
  extensions/linz/schema.json
  extensions/linz/tests/linz_collection.test.mjs
Due: stac-node-validator, prettier, eslint

feat: Add new optional `linz:geographic_description` collection property
  extensions/linz/README.md
  extensions/linz/examples/collection.json
  extensions/linz/schema.json
  extensions/linz/tests/linz_collection.test.mjs
Due: stac-node-validator, prettier, eslint

feat: Add new optional `linz:event_name` collection property
  extensions/linz/README.md
  extensions/linz/examples/collection.json
  extensions/linz/schema.json
  extensions/linz/tests/linz_collection.test.mjs
Due: stac-node-validator, prettier, eslint

build: update to Node.js 22 TDE-1193
  .github/workflows/test.yaml
  package-lock.json
  package.json
Due: prettier, eslint

feat: add new LINZ extension fields TDE-985 (#281)
  extensions/linz/README.md
  extensions/linz/examples/collection.json
  extensions/linz/schema.json
  extensions/linz/tests/linz_collection.test.mjs
Due: stac-node-validator, prettier, eslint

feat: Add `linz:slug` field TDE-1283
  extensions/linz/examples/collection.json
  extensions/linz/schema.json
  extensions/linz/tests/linz_collection.test.mjs
Due: stac-node-validator, eslint

feat: Add `linz:slug` field TDE-1283 (#310)
  extensions/linz/examples/collection.json
  extensions/linz/schema.json
  extensions/linz/tests/linz_collection.test.mjs
Due: stac-node-validator, eslint

Path conditions:
  stac-node-validator: any of: ^extensions/[^/]+/examples/.*\.json$
  prettier: any of: ^.*\.(md|yaml)$
  eslint: any of: \.json$
