Repository linz/STAC: changes, and which pre-commit hooks are due for each by the changed paths.
All: stac-node-validator, prettier, eslint

stac-node-validator:
  name: stac-node-validator
  entry: ./validate.sh
  language: system
  stages:
  - commit

prettier:
  name: prettier
  entry: node_modules/.bin/prettier
  language: node
  stages:
  - commit

eslint:
  name: eslint
  entry: node_modules/.bin/eslint
  language: node
  stages:
  - commit

fix: fix
  extensions/linz/README.md
Due: prettier

fix: added iso info
  extensions/linz/README.md
Due: prettier

fix: adjust test timeout
  extensions/linz/tests/linz_item.test.js
Due: none

fix: increase test timeout
  extensions/linz/tests/linz_collection.test.js
  extensions/linz/tests/linz_item.test.js
Due: none

fix: linting
  extensions/linz/tests/linz_collection.test.js
  extensions/linz/tests/linz_item.test.js
Due: none

fix: Include real projection extension fields (#87)
  extensions/linz/examples/collection.json
  extensions/linz/non-examples/additional_linz_property.json
  extensions/linz/non-examples/additional_quality_property.json
  extensions/linz/non-examples/incorrect_providers.json
  extensions/linz/non-examples/invalid_projection_espg_code.json
  extensions/linz/non-examples/no_lifecycle.json
  extensions/linz/non-examples/no_linz_created.json
  extensions/linz/non-examples/no_linz_security_classification.json
  extensions/linz/non-examples/no_linz_updated.json
  extensions/linz/non-examples/no_providers.json
  extensions/linz/non-examples/no_title.json
  extensions/linz/non-examples/no_version_property.json
Due: stac-node-validator, eslint

refactor: Sort enum values
  extensions/linz/schema.json
Due: eslint

refactor: Change missing linz:providers test into unit test
  extensions/linz/non-examples/no_providers.json
  extensions/linz/tests/linz_collection.test.js
Due: eslint

refactor: Change LINZ providers name test to a unit test
  extensions/linz/non-examples/incorrect_providers.json
  extensions/linz/tests/linz_collection.test.js
Due: eslint

refactor: Convert non-examples to unit tests (#91)
  extensions/linz/non-examples/incorrect_providers.json
  extensions/linz/non-examples/no_providers.json
  extensions/linz/tests/linz_collection.test.js
Due: eslint

refactor: Sort enum values (#90)
  extensions/linz/schema.json
Due: eslint

refactor: Rename test job for clarity
  .github/workflows/test.yaml
Due: prettier

feat: add new linz item metadata schema (#75)
  extensions/linz/README.md
  extensions/linz/examples/item.json
  extensions/linz/schema.json
  extensions/linz/tests/linz_collection.test.js
  extensions/linz/tests/linz_item.test.js
Due: stac-node-validator, prettier, eslint

refactor: Rename test job for clarity (#92)
  .github/workflows/test.yaml
Due: prettier

fix: Repair tests
  extensions/linz/tests/linz_collection.test.js
Due: none

fix: Repair tests (#93)
  extensions/linz/tests/linz_collection.test.js
Due: none

refactor: Merge "validate" and "test" targets
  .github/workflows/test.yaml
  README.md
  package.json
Due: prettier, eslint

refactor: Merge "validate" and "test" targets (#94)
  .github/workflows/test.yaml
  README.md
  package.json
Due: prettier, eslint

feat: Require "providers" property
  extensions/linz/examples/collection.json
  extensions/linz/non-examples/additional_linz_property.json
  extensions/linz/non-examples/additional_quality_property.json
  extensions/linz/non-examples/invalid_projection_espg_code.json
  extensions/linz/non-examples/no_lifecycle.json
  extensions/linz/non-examples/no_linz_created.json
  extensions/linz/non-examples/no_linz_security_classification.json
  extensions/linz/non-examples/no_linz_updated.json
  extensions/linz/non-examples/no_title.json
  extensions/linz/non-examples/no_version_property.json
  extensions/linz/schema.json
  extensions/linz/tests/linz_collection.test.js
Due: stac-node-validator, eslint

feat: Require "licensor" and "producer" provider roles
  extensions/linz/examples/collection.json
  extensions/linz/non-examples/additional_linz_property.json
  extensions/linz/non-examples/additional_quality_property.json
  extensions/linz/non-examples/invalid_projection_espg_code.json
  extensions/linz/non-examples/no_lifecycle.json
  extensions/linz/non-examples/no_linz_created.json
  extensions/linz/non-examples/no_linz_security_classification.json
  extensions/linz/non-examples/no_linz_updated.json
  extensions/linz/non-examples/no_title.json
  extensions/linz/non-examples/no_version_property.json
  extensions/linz/schema.json
  extensions/linz/tests/linz_collection.test.js
Due: stac-node-validator, eslint

feat: add unit tests for template extension
  extensions/template/examples/collection.json
  extensions/template/non-examples/collection.json
  extensions/template/non-examples/item.json
  extensions/template/tests/template_collection.test.js
  extensions/template/tests/template_item.test.js
Due: stac-node-validator, eslint

feat: Make provider types mandatory (#89)
  extensions/linz/examples/collection.json
  extensions/linz/non-examples/additional_linz_property.json
  extensions/linz/non-examples/additional_quality_property.json
  extensions/linz/non-examples/invalid_projection_espg_code.json
  extensions/linz/non-examples/no_lifecycle.json
  extensions/linz/non-examples/no_linz_created.json
  extensions/linz/non-examples/no_linz_security_classification.json
  extensions/linz/non-examples/no_linz_updated.json
  extensions/linz/non-examples/no_title.json
  extensions/linz/non-examples/no_version_property.json
  extensions/linz/schema.json
  extensions/linz/tests/linz_collection.test.js
Due: stac-node-validator, eslint

fix: add readable test names
  extensions/template/tests/template_collection.test.js
  extensions/template/tests/template_item.test.js
Due: none

feat: add unit tests for template extension (#95)
  extensions/template/examples/collection.json
  extensions/template/non-examples/collection.json
  extensions/template/non-examples/item.json
  extensions/template/tests/template_collection.test.js
  extensions/template/tests/template_item.test.js
Due: stac-node-validator, eslint

feat: Lowercase enum values
  extensions/linz/README.md
  extensions/linz/examples/collection.json
  extensions/linz/examples/item.json
  extensions/linz/non-examples/additional_linz_property.json
  extensions/linz/non-examples/additional_quality_property.json
  extensions/linz/non-examples/invalid_projection_espg_code.json
  extensions/linz/non-examples/no_lifecycle.json
  extensions/linz/non-examples/no_linz_created.json
  extensions/linz/non-examples/no_linz_security_classification.json
  extensions/linz/non-examples/no_linz_updated.json
  extensions/linz/non-examples/no_title.json
  extensions/linz/non-examples/no_version_property.json
  extensions/linz/schema.json
  extensions/quality/README.md
  extensions/quality/examples/collection.json
  extensions/quality/non-examples/incorrect_accuracy_type.json
  extensions/quality/schema.json
Due: stac-node-validator, prettier, eslint

fix: Include third party schemas on top level
  extensions/linz/examples/item.json
  extensions/linz/schema.json
Due: stac-node-validator, eslint

feat: Lowercase enum values (#99)
  extensions/linz/README.md
  extensions/linz/examples/collection.json
  extensions/linz/examples/item.json
  extensions/linz/non-examples/additional_linz_property.json
  extensions/linz/non-examples/additional_quality_property.json
  extensions/linz/non-examples/invalid_projection_espg_code.json
  extensions/linz/non-examples/no_lifecycle.json
  extensions/linz/non-examples/no_linz_created.json
  extensions/linz/non-examples/no_linz_security_classification.json
  extensions/linz/non-examples/no_linz_updated.json
  extensions/linz/non-examples/no_title.json
  extensions/linz/non-examples/no_version_property.json
  extensions/linz/schema.json
  extensions/quality/README.md
  extensions/quality/examples/collection.json
  extensions/quality/non-examples/incorrect_accuracy_type.json
  extensions/quality/schema.json
Due: stac-node-validator, prettier, eslint

refactor: Change unsupported 'linz:*' property test to unit test
  extensions/linz/non-examples/additional_linz_property.json
  extensions/linz/tests/linz_collection.test.js
Due: eslint

refactor: Change unsupported 'quality:*' property test to unit test
  extensions/linz/non-examples/additional_quality_property.json
  extensions/linz/tests/linz_collection.test.js
Due: eslint

tests: Verify that the error is related to the right property
  extensions/linz/tests/linz_collection.test.js
Due: none

refactor: Change invalid `proj:epsg` example to unit test
  extensions/linz/non-examples/invalid_projection_espg_code.json
  extensions/linz/tests/linz_collection.test.js
Due: eslint

refactor: Change missing property non-examples to unit tests
  extensions/linz/non-examples/no_lifecycle.json
  extensions/linz/non-examples/no_linz_created.json
  extensions/linz/non-examples/no_linz_security_classification.json
  extensions/linz/non-examples/no_linz_updated.json
  extensions/linz/non-examples/no_title.json
  extensions/linz/non-examples/no_version_property.json
  extensions/linz/tests/linz_collection.test.js
Due: eslint

docs: improve geospatial_type descriptions
  extensions/linz/README.md
Due: prettier

docs: lower-case geospatial_type names
  extensions/linz/README.md
Due: prettier

fix: use longer default timeout when test has to request schema form internet
  .eslintrc.cjs
  extensions/linz/tests/linz_collection.test.js
  extensions/linz/tests/linz_item.test.js
  extensions/template/tests/template_collection.test.js
  extensions/template/tests/template_item.test.js
  extensions/validation.js
Due: none

Update the LINZ README (#103)
  extensions/linz/README.md
Due: prettier

feat: add unit tests for the quality extension
  extensions/quality/non-examples/incorrect_accuracy_type.json
  extensions/quality/non-examples/incorrect_description.json
  extensions/quality/non-examples/missing_lineage_description.json
  extensions/quality/tests/quality_collection.test.js
Due: eslint

fix: description
  extensions/quality/tests/quality_collection.test.js
Due: none

fix: removed larger timeout for tests
  extensions/quality/tests/quality_collection.test.js
Due: none

fix: add extra path check to tests
  extensions/quality/tests/quality_collection.test.js
Due: none

Path conditions:
  stac-node-validator: any of: ^extensions/[^/]+/examples/.*\.json$
  prettier: any of: ^.*\.(md|yaml)$
  eslint: any of: \.json$
