Repository linz/STAC: changes, and which pre-commit hooks are due for each by the changed paths.
All: stac-node-validator, prettier, eslint

.pre-commit-config.yaml:

# Configuration file for pre-commit (https://pre-commit.com/).
# Please run `pre-commit run --all-files` when adding or changing entries.

repos:
  - repo: local
    hooks:
      - id: stac-node-validator
        name: stac-node-validator
        entry: ./validate.sh
        language: system
        files: ^extensions/[^/]+/examples/.*\.json$
        stages: [commit]

      - id: prettier
        name: prettier
        entry: node_modules/.bin/prettier
        language: node
        files: ^.*\.(md|yaml)$
        stages: [commit]

      - id: eslint
        name: eslint
        entry: node_modules/.bin/eslint
        language: node
        types: [json]
        stages: [commit]

feat: Refer to example files recursively (#129)
  validate.sh
Due: none

fix: separate stac_extensions for collection and item
  alvalidate.sh
  extensions/historical-imagery/examples/collection.json
  extensions/historical-imagery/schema.json
  extensions/validation.js
Due: stac-node-validator, eslint

fix: remove temporary testing file
  alvalidate.sh
Due: none

fix: removed stac_extensions for collection
  extensions/historical-imagery/examples/collection.json
  extensions/historical-imagery/schema.json
Due: stac-node-validator, eslint

fix: add eo:bands remove proj:epsg as required fields
  extensions/historical-imagery/examples/item.json
  extensions/historical-imagery/schema.json
  extensions/historical-imagery/tests/historical-imagery_collection.test.js
  extensions/historical-imagery/tests/historical-imagery_item.test.js
Due: stac-node-validator, eslint

fix: add tests and eo:band to assets
  extensions/historical-imagery/examples/item.json
  extensions/historical-imagery/tests/historical-imagery_collection.test.js
  extensions/historical-imagery/tests/historical-imagery_item.test.js
Due: stac-node-validator, eslint

fix: separate stac_extensions for collection and item
  alvalidate.sh
  extensions/historical-imagery/examples/collection.json
  extensions/historical-imagery/schema.json
  validation.js
Due: stac-node-validator, eslint

added tests
  extensions/historical-imagery/schema.json
  extensions/historical-imagery/tests/historical-imagery_item.test.js
Due: eslint

fix: item schema with stac_extensions array
  extensions/historical-imagery/examples/collection.json
  extensions/historical-imagery/examples/item.json
  extensions/historical-imagery/schema.json
  extensions/historical-imagery/tests/historical-imagery_collection.test.js
  extensions/historical-imagery/tests/historical-imagery_item.test.js
  validate.sh
Due: stac-node-validator, eslint

fix: remove unneccessary schema fields
  extensions/historical-imagery/schema.json
Due: eslint

add collection
  extensions/historical-imagery/examples/collection.json
  extensions/historical-imagery/examples/item.json
  extensions/historical-imagery/schema.json
  extensions/historical-imagery/tests/historical-imagery_collection.test.js
  extensions/historical-imagery/tests/historical-imagery_item.test.js
Due: stac-node-validator, eslint

feat: create historical imagery schema
  extensions/historical-imagery/README.md
  extensions/historical-imagery/examples/collection.json
  extensions/historical-imagery/examples/item.json
  extensions/historical-imagery/schema.json
  extensions/historical-imagery/tests/historical-imagery.test.js
Due: stac-node-validator, prettier, eslint

feat: historical-imagery extension WIP
  extensions/historical-imagery/examples/collection.json
  extensions/historical-imagery/examples/item.json
  extensions/historical-imagery/schema.json
  extensions/historical-imagery/tests/historical-imagery.test.js
  extensions/historical-imagery/tests/historical-imagery_collection.test.js
  extensions/historical-imagery/tests/historical-imagery_item.test.js
Due: stac-node-validator, eslint

fix: readme identifier to use stac.linz.govt.nz
  extensions/historical-imagery/README.md
  extensions/historical-imagery/tests/historical-imagery_collection.test.js
  extensions/historical-imagery/tests/historical-imagery_item.test.js
Due: prettier

fix: remove console logging
  validation.js
Due: none

fix: change scan:scanned date example to RFC3339
  extensions/historical-imagery/README.md
Due: prettier

docs: add a description for the quality extension
  extensions/quality/README.md
Due: prettier

fix: simplified schema, aligned examples
  extensions/historical-imagery/examples/collection.json
  extensions/historical-imagery/examples/item.json
  extensions/historical-imagery/schema.json
Due: stac-node-validator, eslint

fix: remove LINZ internal use fields from readme as these are no longer required here
  extensions/historical-imagery/README.md
Due: prettier

fix: remove aerial-photo:version field from readme as not used
  extensions/historical-imagery/README.md
Due: prettier

fix: moved eo:bands to Item assets
  extensions/historical-imagery/examples/item.json
  extensions/historical-imagery/schema.json
  extensions/historical-imagery/tests/historical-imagery_item.test.js
Due: stac-node-validator, eslint

feat: historical imagery schema (#133)
  extensions/historical-imagery/README.md
  extensions/historical-imagery/examples/collection.json
  extensions/historical-imagery/examples/item.json
  extensions/historical-imagery/schema.json
  extensions/historical-imagery/tests/historical-imagery_collection.test.js
  extensions/historical-imagery/tests/historical-imagery_item.test.js
  validate.sh
Due: stac-node-validator, prettier, eslint

fix: add stac_extension for historical-imagery
  extensions/historical-imagery/examples/collection.json
  extensions/historical-imagery/schema.json
Due: stac-node-validator, eslint

fix: add schema and example links to readme
  extensions/historical-imagery/README.md
Due: prettier

docs: add a description for the quality extension (#134)
  extensions/quality/README.md
Due: prettier

feat: Duplicate referenced field documentation in table
  extensions/linz/README.md
Due: prettier

feat: Duplicate referenced field documentation in table (#138)
  extensions/linz/README.md
Due: prettier

fix: historical imagery collection stac_extension (#136)
  extensions/historical-imagery/README.md
  extensions/historical-imagery/examples/collection.json
  extensions/historical-imagery/schema.json
Due: stac-node-validator, prettier, eslint

docs: add proj:epsg example
  extensions/linz/README.md
Due: prettier

feat: Make processing extension recommended
  extensions/linz/README.md
Due: prettier

feat: Move quality:lineage to linz:history
  extensions/linz/README.md
  extensions/linz/examples/collection.json
  extensions/linz/schema.json
  extensions/linz/tests/linz_collection.test.js
  extensions/quality/README.md
  extensions/quality/examples/collection.json
  extensions/quality/schema.json
  extensions/quality/tests/quality_collection.test.js
Due: stac-node-validator, prettier, eslint

fix: formatted README
  extensions/linz/README.md
Due: prettier

feat: Make processing extension recommended (#137)
  extensions/linz/README.md
Due: prettier

feat: providers required for historical imagery collection
  extensions/historical-imagery/examples/collection.json
  extensions/historical-imagery/schema.json
Due: stac-node-validator, eslint

test: added historical imagery collection providers tests
  extensions/historical-imagery/examples/collection.json
  extensions/historical-imagery/tests/historical-imagery_collection.test.js
Due: stac-node-validator, eslint

feat: Move quality:lineage to linz:history (#140)
  extensions/linz/README.md
  extensions/linz/examples/collection.json
  extensions/linz/schema.json
  extensions/linz/tests/linz_collection.test.js
  extensions/quality/README.md
  extensions/quality/examples/collection.json
  extensions/quality/schema.json
  extensions/quality/tests/quality_collection.test.js
Due: stac-node-validator, prettier, eslint
